<div class="w3-panel">

</div>

<div class="w3-row-padding" ng-app="myApp">
    <!-- Left Column -->
    <div class="w3-col s12" >

        <div class="w3-col " ng-controller="CtrlQuerys2">
            <div class="">

                <div class="w3-container w3-teal">
                    <h5>Список банков</h5>
                </div>
                <% if(querys.length>0) {%>
                <table class="w3-table-all w3-small w3-striped w3-hoverable">
                    <tr  class="w3-green">
                        <th>UID</th>
                        <th class="w3-border-left">Дата</th>
                        <th class="w3-border-left">Приход</th>
                        <th class="w3-border-left">Расход</th>
                        <th class="w3-border-left">%</th>
                        <th class="w3-border-left">Комисс.</th>
                        <th class="w3-border-left">Комисс.итог</th>
                        <th class="w3-border-left">Итог</th>
                        <th class="w3-border-left"></th>
                        <th class="w3-border-left"></th>
                    </tr>

                    <tr  ng-repeat="dt in qqq" ng-click="setSelected();">
                        <td class="{{ dt.myColors }} ">{{ dt.UID }}</td>
                        <td class="w3-border-left">{{ dt.date_in }}</td>
                        <td class="w3-border-left">{{ dt.summ_in }}</td>
                        <td class="w3-border-left">{{ dt.summ_out }}</td>
                        <td class="w3-border-left w3-right-align">{{ dt.commission_tax }}</td>
                        <td class="w3-border-left">{{ dt.commission_summ }}</td>
                        <td class="w3-border-left">{{ dt.commission_all }}</td>
                        <td class="w3-border-left">{{ dt.summ_all_current }}</td>
                        <td class="w3-border-left">

                        </td>
                        <td class="w3-border-left">

                        </td>
                    </tr>

                </table>
                <%}%>

            </div>
        </div>

    </div>
</div>

<script>

    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    let dl = [];
    let bl = {};
    let qq={};
    let i = 0;
    let glub_buy = 0;
    let glub_sell = 0;
    let minPrice = 0;
    let maxPrice = 0;
    let summ_all_current = 0;
    let summ_in = 0;
    let summ_out = 0;
    let commission_all = 0;
    let bs=['продажа','покупка'];
    let clors=['w3-orange','w3-cyan','w3-gray','w3-brown','w3-gray','','','','','w3-gray'];
    const Curr = ['','PZM','USD','RUR'];
    const w3Btn = [[],['','','w3-white', 'w3-white'],['','w3-white','','w3-white'],['','w3-white','w3-white','']];
    const typ = ['Вывод','Ввод','Отправить','Получить'];

    myApp.controller('CtrlQuerys2', function ($scope) {
        $scope.qqq=[];

        <% querys.forEach(function (item) {%>
        qq={};
        qq.summ_in = '';
        qq.summ_out = '';
        qq.UID = '<%= item.UID%>';
        qq.myColors = clors[2];        // w3-animate-zoom    w3-animate-opacity  'w3-amber'
        <% if(item.status == 3){%>
            <% if(item.class == 0) {%>      // Вывод - расход
                summ_all_current = Math.round((summ_all_current - <%= Number(item.amount- item.commission_summ)%>)*100)/100;
                qq.summ_out = <%= Math.round((item.amount - item.commission_summ)*100)/100%>
            <%} else {%>        //Ввод - приход
                summ_all_current = Math.round((summ_all_current + <%= Number(item.amount)%>)*100)/100;
                qq.summ_in = <%= item.amount%>
            <%}%>
            qq.myColors = clors[<%= item.class%>];        // w3-animate-zoom    w3-animate-opacity  'w3-amber'
            commission_all = Math.round((commission_all + <%= Number(item.commission_summ)%>)*100)/100;
        <%}%>
        qq.commission_all = commission_all;
        qq.commission_tax = '<%= item.commission_tax%>';
        qq.commission_summ = '<%= item.commission_summ%>';

        qq.date_in = TimeMsk('<%= item.createdAt%>');

        qq.currency_name = '<%= item.currency_name%>';
        qq.bank_number = '<%= item.dealer_bank_number%>';
        qq.summ_all_current = summ_all_current;


        $scope.qqq.push(qq);
        <%})%>

        $scope.setSelected = function () {

        }
    });

    //]]>
</script>