<div class="w3-panel">

</div>

<div class="w3-row-padding" ng-app="myApp">
    <!-- Left Column -->
    <div class="w3-col s12" >

        <div class="w3-col " ng-controller="CtrlQuerys2">
            <div class="">

                <div class="w3-container w3-teal">
                    <h5>Комиссии</h5>
                </div>

                <div class="w3-border">
                    <form action="" method="post" class="w3-container">
                        <div  class="w3-col m3">
                            <label class="w3-tag w3-green">С</label>
                            <input type="date" name="dateAt" class="w3-input">

                        </div>
                        <div  class="w3-col m3">
                            <label class="w3-tag w3-green">по</label>
                            <input type="date" name="dateTo" class="w3-input">

                        </div>
                        <input type="submit" class="w3-button w3-green">
                    </form>
                </div>


                <table class="w3-table-all w3-small w3-striped w3-hoverable">
                    <tr  class="w3-green">
                        <th width="200" class="w3-black ">{{ dateAt }} - {{ dateTo }}</th>
                        <th width="200" class="w3-border-left">PZM</th>
                        <th width="200" class="w3-border-left">USD</th>
                        <th width="200" class="w3-border-left">RUR</th>
                        <th class="w3-border-left"></th>
                        <th class="w3-border-left"></th>
                        <th class="w3-border-left"></th>
                    </tr>

                    <tr >
                        <td class="">сделки</td>
                        <td class="w3-border-left">{{aggrTrans.PZM}}</td>
                        <td class="w3-border-left">{{aggrTrans.USD}}</td>
                        <td class="w3-border-left">{{aggrTrans.RUR}}</td>
                        <td class="w3-border-left w3-right-align"></td>
                        <td class="w3-border-left"></td>
                        <td class="w3-border-left"></td>
                    </tr>
                    <tr>
                        <td class="">ввод/вывод</td>
                        <td class="w3-border-left">{{aggrQuery.PZM}}</td>
                        <td class="w3-border-left">{{aggrQuery.USD}}</td>
                        <td class="w3-border-left">{{aggrQuery.RUR}}</td>
                        <td class="w3-border-left w3-right-align"></td>
                        <td class="w3-border-left"></td>
                        <td class="w3-border-left"></td>
                    </tr>
                    <tr>
                        <td class="">итого</td>
                        <td class="w3-border-left">{{qq.PZM}}</td>
                        <td class="w3-border-left">{{qq.USD}}</td>
                        <td class="w3-border-left">{{qq.RUR}}</td>
                        <td class="w3-border-left w3-right-align"></td>
                        <td class="w3-border-left"></td>
                        <td class="w3-border-left"></td>
                    </tr>

                </table>

            </div>
        </div>

    </div>

    <div class="w3-col s12" >

        <div class="w3-col " ng-controller="CtrlBanks2">
            <div class="">

                <div class="w3-container w3-teal">
                    <h5>Общее по виду банка</h5>
                </div>

                <table class="w3-table-all w3-small w3-striped w3-hoverable">
                    <tr  class="w3-green">
                        <th width="200" class="w3-black ">PRIZM</th>
                        <th width="200" class="w3-border-left">QIWI</th>
                        <th width="200" class="w3-border-left">Yandex</th>
                        <th width="200" class="w3-border-left">SberBank</th>
                        <th class="w3-border-left">AdvCash</th>
                        <th class="w3-border-left">PerfectMoney</th>
                        <th class="w3-border-left">NixMoney</th>
                    </tr>

                    <tr >
                        <td class="w3-border-left">{{aggrBanks.PRIZM}}</td>
                        <td class="w3-border-left">{{aggrBanks.QIWI}}</td>
                        <td class="w3-border-left">{{aggrBanks.Yandex}}</td>
                        <td class="w3-border-left">{{aggrBanks.SberBank}}</td>
                        <td class="w3-border-left w3-right-align">{{aggrBanks.AdvCash}}</td>
                        <td class="w3-border-left">{{aggrBanks.PerfectMoney}}</td>
                        <td class="w3-border-left">{{aggrBanks.NixMoney}}</td>
                    </tr>
                </table>

            </div>
        </div>

    </div>

    <div class="w3-col s12" >

        <div class="w3-col " ng-controller="CtrlQuerys22">
            <div class="">

                <div class="w3-container w3-teal">
                    <h5>На счетах банков</h5>
                </div>

                <table class="w3-table-all w3-small w3-striped w3-hoverable">
                    <tr  class="w3-green">
                        <th></th>
                        <th class="w3-border-left">PZM</th>
                        <th class="w3-border-left">USD</th>
                        <th class="w3-border-left">RUR</th>
                        <th class="w3-border-left"></th>
                        <th class="w3-border-left"></th>
                    </tr>

                    <tr >
                        <td></td>
                        <td class="w3-border-left">{{ banksAll.PZM }}</td>
                        <td class="w3-border-left">{{ banksAll.USD }}</td>
                        <td class="w3-border-left">{{ banksAll.RUR }}</td>
                        <td class="w3-border-left">  </td>
                        <td class="w3-border-left">  </td>
                    </tr>
                    <tr  class="w3-gray">
                        <td>На балансе польз.</td>
                        <td class="w3-border-left">{{ all.PZM }}</td>
                        <td class="w3-border-left">{{ all.USD }}</td>
                        <td class="w3-border-left">{{ all.RUR }}</td>
                        <td class="w3-border-left">  </td>
                        <td class="w3-border-left">  </td>
                    </tr>

                    <tr  class="w3-gray">
                        <td>САЛЬДО</td>
                        <td class="w3-border-left">{{ banksSaldo.PZM }} ( {{ banksSaldoPercent.PZM }}% )</td>
                        <td class="w3-border-left">{{ banksSaldo.USD }} ( {{ banksSaldoPercent.USD }}% )</td>
                        <td class="w3-border-left">{{ banksSaldo.RUR }} ( {{ banksSaldoPercent.RUR }}% )</td>
                        <td class="w3-border-left">  </td>
                        <td class="w3-border-left">  </td>
                    </tr>

                </table>


            </div>
            <div class="w3-card-4">
                <div class="w3-container w3-teal">
                    <h5>Суммы на балансе</h5>
                </div>

                <table class="w3-table-all w3-hoverable w3-card-4" >
                    <tr class="w3-green">
                        <th></th>
                        <th class="w3-border-left">PZM</th>
                        <th class="w3-border-left">USD</th>
                        <th class="w3-border-left">RUR</th>
                    </tr>
                    <tr >
                        <td>у польз.</td>
                        <td class="w3-border-left">{{ ua.PZM}}</td>
                        <td class="w3-border-left">{{ ua.USD}}</td>
                        <td class="w3-border-left">{{ ua.RUR}}</td>
                    </tr>
                    <tr >
                        <td class="w3-border-left">на ордерах</td>
                        <td class="w3-border-left">{{ ud.PZM}}</td>
                        <td class="w3-border-left">{{ ud.USD}}</td>
                        <td class="w3-border-left">{{ ud.RUR}}</td>
                    </tr>
                    <tr >
                        <td class="w3-border-left">итого</td>
                        <td class="w3-border-left">{{ all.PZM}}</td>
                        <td class="w3-border-left">{{ all.USD}}</td>
                        <td class="w3-border-left">{{ all.RUR}}</td>
                    </tr>
                </table>
            </div>
            <div class="">

                <div class="w3-container w3-teal">
                    <h5>Список банков</h5>
                </div>
                <% if(banks.length>0) {%>
                <table class="w3-table-all w3-small w3-striped w3-hoverable">
                    <tr  class="w3-green">
                        <th>UID</th>
                        <th class="w3-border-left">Банк</th>
                        <th class="w3-border-left">Валюта</th>
                        <th class="w3-border-left">Номер</th>
                        <th class="w3-border-left">Тек.остаток</th>
                        <th class="w3-border-left">Прием до</th>
                        <th class="w3-border-left">Отправка до</th>
                        <th class="w3-border-left"></th>
                        <th class="w3-border-left"></th>
                    </tr>

                    <tr class="{{ dt.myColors }} " ng-repeat="dt in qqq" ng-click="setSelected();">
                        <td>{{ dt.UID }}</td>
                        <td class="w3-border-left">{{ dt.bank_name }}</td>
                        <td class="w3-border-left">{{ dt.currency_name }}</td>
                        <td class="w3-border-left">{{ dt.bank_number }}</td>
                        <td class="w3-border-left w3-right-align">{{ dt.summ_all_current }}</td>
                        <td class="w3-border-left">{{ dt.date_in }}</td>
                        <td class="w3-border-left">{{ dt.date_out }}</td>
                        <td class="w3-border-left">
                            <a href="/amd/bankinfo2/{{ dt.bankId }}" class="w3-button">Инфо</a>
                        </td>
                        <td class="w3-border-left">
                            <a href="/amd/createquery/{{ dt.bankId }}" class="w3-button">Коррекция</a>
                        </td>
                    </tr>

                </table>
                <%}%>
                <a href="/amd/createbank" class="w3-button w3-border w3-border-blue" >Добавить банк</a>
            </div>
        </div>

    </div>

</div>

<script>

    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    let dl = {};
    let bl = {};
    let qq={};
    let i = 0;
    let glub_buy = 0;
    let glub_sell = 0;
    let minPrice = 0;
    let maxPrice = 0;
    let nm = {};
    let ua = {'PZM':0,'USD':0,'RUR':0};
    let ud = {'PZM':0,'USD':0,'RUR':0};
    let banksAll = {'PZM':0,'USD':0,'RUR':0};
    let banksSaldo = {'PZM':0,'USD':0,'RUR':0};
    let banksSaldoPercent = {'PZM':0,'USD':0,'RUR':0};
    let bs=['продажа','покупка'];
    let clors=['w3-orange','w3-cyan','w3-gray','w3-brown','w3-gray','','','','','w3-gray'];
    const Curr = ['','PZM','USD','RUR'];
    const w3Btn = [[],['','','w3-white', 'w3-white'],['','w3-white','','w3-white'],['','w3-white','w3-white','']];
    const typ = ['Вывод','Ввод','Отправить','Получить'];

    // Наша функция сравнения
    function compareAge(personA, personB) {
        return new Date(personB.createdAt) - new Date(personA.createdAt);

    }

    myApp.controller('CtrlQuerys2', function ($scope) {
        $scope.qq = {'PZM':0,'USD':0,'RUR':0};
        $scope.aggrQuery = {'PZM':0,'USD':0,'RUR':0};
        $scope.aggrTrans = {'PZM':0,'USD':0,'RUR':0};
        $scope.dateAt = TimeMsk('<%= dateRange.dateAt%>');
        $scope.dateTo = TimeMsk('<%= dateRange.dateTo%>');

        <% aggrQuery.forEach(function(item){%>
        $scope.aggrQuery[Curr[<%= item._id%>]] = Math.round(($scope.aggrQuery[Curr[<%= item._id%>]] + <%= Number(item.amount)%> - <%= Number(item.bank_amount)%>)*100)/100;
        <% if(Number(item._id) != 1){%>
            $scope.qq[Curr[<%= item._id%>]] = Math.round(($scope.qq[Curr[<%= item._id%>]] + <%= Number(item.amount)%> - <%= Number(item.bank_amount)%>)*100)/100;
        <%}%>
        <%})%>
        <% aggrTrans.forEach(function(item){%>
            $scope.aggrTrans[Curr[<%= item._id%>]] = Math.round(($scope.aggrTrans[Curr[<%= item._id%>]] + <%= Number(item.amount)%>)*100)/100;
            $scope.qq[Curr[<%= item._id%>]] = Math.round(($scope.qq[Curr[<%= item._id%>]] + <%= Number(item.amount)%>)*100)/100;
        <%})%>

        $scope.setSelected = function () {

        }
    });

    myApp.controller('CtrlBanks2', function ($scope) {
        $scope.qq = {'PRIZM':0, 'QIWI':0,'Yandex':0, 'SberBank':0,'AdvCash':0, 'PerfectMoney':0, 'NixMoney':0,'PayPal':0};
        $scope.aggrBanks = {'PRIZM':0, 'QIWI':0,'Yandex':0, 'SberBank':0,'AdvCash':0, 'PerfectMoney':0, 'NixMoney':0,'PayPal':0};
        $scope.aggrTrans = {'PZM':0,'USD':0,'RUR':0};
        $scope.dateAt = TimeMsk('<%= dateRange.dateAt%>');
        $scope.dateTo = TimeMsk('<%= dateRange.dateTo%>');

        <% aggrBanks.forEach(function(item){%>
            $scope.aggrBanks['<%= item._id%>'] = Math.round(($scope.aggrBanks['<%= item._id%>'] + <%= Number(item.amount)%>%>)*100)/100;

        <%})%>

        $scope.setSelected = function () {

        }
    });

    myApp.controller('CtrlQuerys22', function ($scope) {
        $scope.qqq=[];
        $scope.banksAll={};
        $scope.banksSaldo={};
        $scope.banksSaldoPercent={};
        $scope.dt1 = [];

        $scope.ua ={};
        $scope.ud ={};
        $scope.all ={};

        <% userAmount.forEach(function (item) {%>
        //ud={};
        ua.PZM = Math.round((ua.PZM + <%= Number(item.PZM)%>)*100)/100;
        ua.USD = Math.round((ua.USD + <%= Number(item.USD)%>)*100)/100;
        ua.RUR = Math.round((ua.RUR + <%= Number(item.RUR)%>)*100)/100;
        <%})%>

        $scope.ua = ua;

        <% userDeals.forEach(function (item) {%>
        //ud={};
        <% if(item._id.class == 0){%>
        ud[Curr[<%= item._id.deal_currency%>]] = Math.round((ud[Curr[<%= item._id.deal_currency%>]] + <%= Number(item.deal_amount_bill)%>)*100)/100;

        <%} else {%>
        ud[Curr[<%= item._id.price_currency%>]] = Math.round((ud[Curr[<%= item._id.price_currency%>]] + <%= Number(item.summ_bill)%>)*100)/100;

        <%}%>
        <%})%>

        $scope.ud = ud;

        $scope.all.PZM = Math.round((ud.PZM + ua.PZM)*100)/100;
        $scope.all.USD = Math.round((ud.USD + ua.USD)*100)/100;
        $scope.all.RUR = Math.round((ud.RUR + ua.RUR)*100)/100;

        $scope.setSelected = function() {
            $scope.selected = this.dt;
            console.log(this.dt.name_f);
        };

        <% banks.forEach(function (item) {%>
        qq={};
        banksAll['<%= item.currency_name%>'] = Math.round((banksAll['<%=item.currency_name%>'] + <%= Number(item.summ_all_current)%>)*100)/100;
        <% if(item.dealerId == dealerId) {%>
            qq.myColors = 'w3-amber';        // w3-animate-zoom    w3-animate-opacity  'w3-amber'
        <%} else {%>
            qq.myColors = '';
        <%}%>

        $scope.banksAll= banksAll;

        banksSaldo.PZM = Math.round((banksAll.PZM - (ud.PZM + ua.PZM))*100)/100;
        banksSaldo.USD = Math.round((banksAll.USD - (ud.USD + ua.USD))*100)/100;
        banksSaldo.RUR = Math.round((banksAll.RUR - (ud.RUR + ua.RUR))*100)/100;

        $scope.banksSaldo = banksSaldo;

        banksSaldoPercent.PZM = Math.round((banksSaldo.PZM * 100 / banksAll.PZM)*100)/100;
        banksSaldoPercent.USD = Math.round((banksSaldo.USD * 100 / banksAll.USD)*100)/100;
        banksSaldoPercent.RUR = Math.round((banksSaldo.RUR * 100 / banksAll.RUR)*100)/100;

        $scope.banksSaldoPercent = banksSaldoPercent;

        qq.UID = '<%= item.UID%>';
        qq.bankId = '<%= item._id%>';
        qq.bank_name = '<%= item.bank_name%>';
        qq.currency_name = '<%= item.currency_name%>';
        qq.bank_number = '<%= item.bank_number%>';
        qq.summ_all_current = <%= Math.round(item.summ_all_current *100)/100 %>;
        qq.date_in = TimeMsk('<%= item.date_in%>');
        qq.date_out = TimeMsk('<%= item.date_out%>');

        $scope.qqq.push(qq);
        <%})%>

        $scope.setSelected = function () {

        }
    });

    //]]>
</script>