<div class="w3-panel">

</div>

<div class="w3-row-padding" ng-app="myApp">
    <!-- Left Column -->
    <div class="w3-col s12" >

        <div class="w3-col " ng-controller="CtrlQuerys2">
            <div class="">


                <div class="w3-container w3-teal">
                    <h5>Запросы к исполнению</h5>
                </div>
                <div class="w3-panel w3-blue">
                    <form action="/amd/querys/" method="post">
                        <input type="radio" name="filter" value="0"  class="w3-radio"/><label>Все</label>
                        <input type="radio" name="filter" value="1"  class="w3-radio"/><label>Все в обработке</label>
                        <input type="radio" name="filter" value="2" class="w3-radio"/><label>Мои все</label>
                        <input type="radio" name="filter" value="3" checked class="w3-radio"/><label>Мои в обработке</label>

                        <input type="number" name="limit" value="20"><label>отображать кол.</label>

                        <input class="w3-btn w3-green" type="submit">
                    </form>

                </div>
                <% if(querys.length>0) {%>
                <table class="w3-table-all w3-small w3-striped w3-hoverable">
                    <tr  class="w3-green">
                        <th class="w3-border-left">Дата</th>
                        <th class="w3-border-left">QR</th>
                        <th class="w3-border-left">Валюта</th>
                        <th class="w3-border-left">Тип</th>
                        <th class="w3-border-left">Кол.</th>
                        <th class="w3-border-left">%</th>
                        <th class="w3-border-left">Банк</th>
                        <th class="w3-border-left">Код</th>
                        <th class="w3-border-left">Номер счета</th>
                        <th class="w3-border-left">Pub.key</th>
                        <th class="w3-border-left">Коммент.</th>
                        <th class="w3-border-left"></th>
                    </tr>

                    <tr ng-repeat="dt in qqq" ng-click="setSelected();">
                        <td class="w3-border-left {{ dt.color2 }}">{{ dt.dat }}
                            <div ng-switch="{{ dt.status }}">
                                <div ng-switch-when="0">
                                    <span>/не подтвержден/</span>
                                </div>
                                <div ng-switch-when="1">
                                    <span>/в обработке/</span><a class="w3-block w3-btn w3-black" href="{{dt.execut}}">подтвердить</a>
                                </div>
                                <div ng-switch-when="3">
                                    <span>/исполнен/</span>
                                </div>
                                <div ng-switch-when="4">
                                    <span>/отменен/</span>
                                </div>
                                <div ng-switch-when="5">
                                    <span>/отменен Адм./</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <input type="checkbox" ng-model="check_qrcode">
                            <div ng-show="check_qrcode"><img src="{{ dt.qrcode }}"></div>

                        </td>
                        <td>{{ dt.currency }}</td>
                        <td class="{{ dt.color }}">{{ dt.typ }}</td>
                        <td class="w3-border-left {{ dt.myQueryColors }}"><span class="w3-tag w3-gray">{{ dt.amount }}</span></td>
                        <td class="{{dt.percent_color}} w3-border-left">{{ dt.percent }}</td>
                        <td class="w3-border-left">{{ dt.bank_name }}</td>
                        <td class="w3-border-left">COD-{{ dt.cod }} <form action="/amd/users/info" method="post">
                                        <input type="hidden" name="cod" value="{{ dt.userId }}">
                                       <button type="submit">Проверить</button>
                                    </form></td>
                        <td class="w3-border-left">{{ dt.bank_number }}</td>
                        <td class="w3-border-left">{{ dt.bank_publicKey }}</td>

                        <td class="w3-border-left">{{ dt.comments }}</td>
                        <td class="w3-border-left {{ dt.color2 }}">
                            <div ng-switch="{{ dt.status }}">
                                <div ng-switch-when="0">
                                    <span><a href="{{dt.cancel}}">отменить</a></span>
                                </div>
                                <div ng-switch-when="1">
                                    <span> <a href="{{dt.cancel}}">отменить</a></span>
                                </div>

                            </div>
                        </td>
                    </tr>

                </table>
                <%}%>
            </div>
        </div>

    </div>
</div>

<script>

    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    let dl = {};
    let bl = {};
    let qq={};
    let i = 0;
    let bank_publicKey ='';
    let glub_buy = 0;
    let glub_sell = 0;
    let minPrice = 0;
    let maxPrice = 0;
    let bs=['продажа','покупка'];
    let clors=['w3-orange','w3-cyan','w3-gray','w3-brown','w3-gray','w3-green','','','','w3-gray'];
    let clors2=['','w3-cyan','w3-gray','w3-green','w3-green','w3-gray','','','','w3-gray'];
    let clors3=['w3-green','w3-gray','w3-gray','w3-green','w3-gray','w3-gray','','','','w3-gray'];
    const Curr = ['','PZM','USD','RUR'];
    const w3Btn = [[],['','','w3-white', 'w3-white'],['','w3-white','','w3-white'],['','w3-white','w3-white','']];
    const typ = ['Вывод','Ввод','Отправить','Получить'];

    myApp.controller('CtrlQuerys2', function ($scope) {
        $scope.qqq=[];

        <% querys.forEach(function (query) {%>
            qq={};
            qq.qrcode = '<%= query.qrCode%>';
            qq.qID = '<%= query._id.toString()%>';
            qq.userId = '<%= query.userId%>';
            qq.currency = Curr[<%= query.currency%>];
            qq.typ = typ[<%= query.class%>+2];
            qq.color = clors[<%= query.class%>];
            qq.color2 = clors[<%= query.status%>];
            <% if(query.dealerId == dealerId) {%>
                qq.myQueryColors = 'w3-amber';        // w3-animate-zoom    w3-animate-opacity  'w3-amber'
            <%} else {%>
                qq.myQueryColors = '';
            <%}%>
            qq.amount = <%= (Boolean(query.class)) ? query.amount:Math.round((query.amount - query.commission_summ)*100)/100%>;
            qq.amount2 = <%= Math.round((query.amount - query.commission_summ)*100)/100 %>;
            qq.percent = '<%= query.commission_tax%>';
            if (<%= query.class > 0%>) {
                qq.percent_color = clors3[<%= query.commission_tax %>];
            } else {
                qq.percent_color = clors2[<%= query.commission_tax %>];
            }
            qq.bank_name = '<%= query.bank_name%>';
            qq.cod = '<%= query.cod%>';
            qq.bank_number = '<%= query.bank_number%>';
            bank_publicKey = '<%= query.bank_publicKey%>';
            <% if(query.class == 0){%>
                bank_publicKey = bank_publicKey + ' // <%= query.dealer_bank_username%> / <%= query.dealer_bank_number%>';
            <%}%>
        qq.bank_publicKey = bank_publicKey;
            qq.status = '<%= query.status%>';
            qq.comments = '<%= query.comments%>';
            qq.confirm = '/api/q/res/<%= query._id %>;confirm';
            qq.cancel = '/api/q/res/<%= query._id %>;cancelamd';
            qq.execut = '/api/q/res/<%= query._id %>;execut';
            qq.dat = TimeMsk('<%= query.createdAt %>');

            $scope.qqq.push(qq);
        <%})%>

        $scope.setSelected = function () {

        }
    });

    //]]>
</script>