
<div class="w3-panel"></div>
<div class="w3-row-padding" ng-app="myApp">
    <!-- Left Column -->
    <div class="w3-col s12" ng-controller="MainCtrl">
        <div class="w3-card-4">
            <div class="w3-container w3-teal">
                <h5>Списое пользователей</h5>
            </div>

            <table class="w3-table-all w3-hoverable w3-card-4" >
                <tr class="w3-green">
                    <th>UID</th>
                    <th class="w3-border-left">Имя</th>
                    <th class="w3-border-left">PZM</th>
                    <th class="w3-border-left">USD</th>
                    <th class="w3-border-left">RUR</th>
                </tr>
                <tr ng-repeat="dt in dt1" ng-click="setSelected();">
                    <td>{{ dt.UID }}</td>
                    <td class="w3-border-left">{{ dt.name_f }}</td>
                    <td class="w3-border-left">{{ dt.PZM }}</td>
                    <td class="w3-border-left">{{ dt.USD }}</td>
                    <td class="w3-border-left">{{ dt.RUR }}</td>
                </tr>
            </table>
        </div>

        <div class="w3-panel"></div>

        <div class="w3-card-4">
            <div class="w3-container w3-teal">
                <h5>Движения средств</h5>
            </div>

            <table class="w3-table-all w3-hoverable w3-card-4" >
                <tr class="w3-green">
                    <th>Дата</th>
                    <th class="w3-border-left">Операция</th>
                    <th class="w3-border-left">Вид</th>
                    <th class="w3-border-left">Пара</th>
                    <th class="w3-border-left">Кол.</th>
                    <th class="w3-border-left">Цена</th>
                    <th class="w3-border-left">Сумма</th>
                    <th class="w3-border-left">Итог</th>
                    <th class="w3-border-left">Статус</th>
                </tr>
                <tr ng-repeat="info in dt2" ng-click="setSelected();">
                    <td>{{ info.createdAt }}</td>
                    <td class="w3-border-left">{{ info.operation_name }}</td>
                    <td class="w3-border-left">{{ info.class }}</td>
                    <td class="w3-border-left">{{ info.par }}</td>
                    <td class="w3-border-left">{{ info.deal_amount }}</td>
                    <td class="w3-border-left">{{ info.price_amount }}</td>
                    <td class="w3-border-left">{{ info.summ }}</td>
                    <td class="w3-border-left">{{ info.sm }}</td>
                    <td class="w3-border-left">{{ info.status }}</td>
                </tr>
            </table>
        </div>
    </div>

</div>

<script type="text/javascript">
    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    let nm = {};
    const Curr = ['','PZM','USD','RUR'];
    const Oper = ['','Запрос','Ордер','Счет'];
    const Class = ['Продажа','Покупка'];
    const Class_q = ['Вывод средств','Пополнение'];
    const Status = ['активный','отменен','закрыт'];
    const Status_q = ['создана','подтверждена','исполнена','отменена'];
    let sm = 0;
    myApp.controller('MainCtrl', function($scope) {
        $scope.dt1 = [];
        $scope.dt2 = [];

        nm.UID = '<%= users.user.UID%>';
        nm.name_f = '<%= users.user.name_f%>';
        nm.PZM = '<%= users.user.PZM%>';
        nm.USD = '<%= users.user.USD%>';
        nm.RUR = '<%= users.user.RUR%>';
        $scope.dt1.push({UID:nm.UID, name_f:nm.name_f, PZM:nm.PZM, USD:nm.USD, RUR:nm.RUR});

        $scope.setSelected = function() {
            $scope.selected = this.dt;
            console.log(this.dt.name_f);
        };
        <% users.userInfo.forEach(function(item) { %>
            nm={};

            nm.createdAt = TimeMsk("<%= item.createdAt %>");
            nm.operation_name = Oper[<%= item.operation_cod%>];
            nm.class = (<%= item.operation_cod%> == 1) ? Class_q[<%= item.class%>] : Class[<%= item.class%>];
            nm.par = (<%= item.operation_cod%> == 1) ? '<%= item.currency_name%>':Curr[Number(<%= item.deal_currency%>)]+'/'+Curr[Number(<%= item.price_currency %>)];
            nm.deal_amount = (<%= item.operation_cod%> == 1) ? '--':'<%= item.deal_amount%>';
            nm.price_amount = (<%= item.operation_cod%> == 1) ? '--':'<%= item.price_amount%>';
            nm.summ = (<%= item.operation_cod%> == 1) ? '<%= item.amount%>':'<%= item.summ%>';
            if(<%= item.operation_cod%> == 1){
                if(<%= item.class%> == 1){
                    sm = sm + Number('<%= item.amount%>');
                } else {sm = sm - Number('<%= item.amount%>');}
            } else {
                if(<%= item.class%> == 0){
                    sm = sm + Number('<%= item.summ%>');
                } else {sm = sm - Number('<%= item.summ%>');}
            }
            sm = Math.round(sm*100)/100;
            nm.status = (<%= item.operation_cod%> == 1) ? Status_q[Number(<%= item.status%>)]:Status[Number(<%= item.status%>)];
            nm.sm = sm;
            $scope.dt2.push(nm);
        <%})%>
    });
    //]]>
</script>