
<div class="w3-panel">
  <form action="/amd/users" method="post">
    <input name="cod"><span>Код запроса</span>
    <button type="submit">Проверить</button>
  </form>
</div>
<div class="w3-row-padding" ng-app="myApp">
  <!-- Left Column -->
  <div class="w3-col" ng-controller="MainCtrl">

    <div class="w3-card-4">
      <div class="w3-container w3-teal">
        <h5>Суммы на балансе</h5>
      </div>

      <table class="w3-table-all w3-hoverable w3-card-4" >
        <tr class="w3-green">
          <th></th>
          <th class="w3-border-left">PZM</th>
          <th class="w3-border-left">USD</th>
          <th class="w3-border-left">RUR</th>
        </tr>
        <tr >
          <td>у польз.</td>
          <td class="w3-border-left">{{ ua.PZM}}</td>
          <td class="w3-border-left">{{ ua.USD}}</td>
          <td class="w3-border-left">{{ ua.RUR}}</td>
        </tr>
        <tr >
          <td class="w3-border-left">на ордерах</td>
          <td class="w3-border-left">{{ ud.PZM}}</td>
          <td class="w3-border-left">{{ ud.USD}}</td>
          <td class="w3-border-left">{{ ud.RUR}}</td>
        </tr>
        <tr >
          <td class="w3-border-left">итого</td>
          <td class="w3-border-left">{{ all.PZM}}</td>
          <td class="w3-border-left">{{ all.USD}}</td>
          <td class="w3-border-left">{{ all.RUR}}</td>
        </tr>
      </table>
    </div>

    <div class="w3-card-4">
      <div class="w3-container w3-teal">
        <h5>Список пользователей</h5>
      </div>

      <table class="w3-table-all w3-hoverable w3-card-4" >
        <tr class="w3-green">
          <th>UID</th>
          <th class="w3-border-left">Имя</th>
          <th class="w3-border-left">email</th>
          <th class="w3-border-left">PZM</th>
          <th class="w3-border-left">USD</th>
          <th class="w3-border-left">RUR</th>
        </tr>
        <tr ng-repeat="dt in dt1" ng-click="setSelected();">
          <td>{{ dt.UID }}</td>
          <td class="w3-border-left"><a href="/amd/users/{{dt.ID}};info">{{ dt.name_f }}</a></td>
          <td class="w3-border-left">{{ dt.email }}</td>
          <td class="w3-border-left">{{ dt.PZM }}</td>
          <td class="w3-border-left">{{ dt.USD }}</td>
          <td class="w3-border-left">{{ dt.RUR }}</td>
        </tr>
      </table>
    </div>
  </div>


</div>

<script type="text/javascript">
    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    let nm = {};
    let ua = {'PZM':0,'USD':0,'RUR':0};
    let ud = {'PZM':0,'USD':0,'RUR':0};
    const Curr = ['','PZM','USD','RUR'];
    myApp.controller('MainCtrl', function($scope) {
        $scope.dt1 = [];
        <% users.forEach(function(item) { %>
          nm={};
          nm.ID = '<%= item._id%>';
          nm.UID = '<%= item.UID%>';
          nm.name_f = '<%= item.name_f%>';
          nm.email = '<%= item.email %>';
          nm.PZM = Math.round(<%= Number(item.PZM) %>*100)/100;
          nm.USD = Math.round(<%= Number(item.USD) %>*100)/100;
          nm.RUR = Math.round(<%= Number(item.RUR) %>*100)/100;
          $scope.dt1.push(nm);
        <%})%>
        $scope.ua ={};
        $scope.ud ={};
        $scope.all ={};

        <% userAmount.forEach(function (item) {%>
        //ud={};
        ua.PZM = Math.round((ua.PZM + <%= Number(item.PZM)%>)*100)/100;
        ua.USD = Math.round((ua.USD + <%= Number(item.USD)%>)*100)/100;
        ua.RUR = Math.round((ua.RUR + <%= Number(item.RUR)%>)*100)/100;
        <%})%>

        $scope.ua = ua;

        <% userDeals.forEach(function (item) {%>
          //ud={};
          <% if(item._id.class == 0){%>
            ud[Curr[<%= item._id.deal_currency%>]] = Math.round((ud[Curr[<%= item._id.deal_currency%>]] + <%= Number(item.deal_amount_bill)%>)*100)/100;

          <%} else {%>
            ud[Curr[<%= item._id.price_currency%>]] = Math.round((ud[Curr[<%= item._id.price_currency%>]] + <%= Number(item.summ_bill)%>)*100)/100;

            <%}%>
        <%})%>

        $scope.ud = ud;
        $scope.all.PZM = Math.round(($scope.ud.PZM + <%= Number(userAmount[0].PZM)%>)*100)/100;
        $scope.all.USD = Math.round(($scope.ud.USD + <%= Number(userAmount[0].USD)%>)*100)/100;
        $scope.all.RUR = Math.round(($scope.ud.RUR + <%= Number(userAmount[0].RUR)%>)*100)/100;

        $scope.setSelected = function() {
            $scope.selected = this.dt;
            console.log(this.dt.name_f);
        };
    });
    //]]>
</script>