
<div class="w3-panel">
    <form action="/amd/users" method="post">
        <input name="cod"><span>Код запроса</span>
        <button type="submit">Проверить</button>
    </form>
</div>
<div class="w3-row-padding" ng-app="myApp">
    <!-- Left Column -->
    <div class="w3-col s12" ng-controller="MainCtrl">
        <div class="w3-card-4">
            <div class="w3-container w3-teal">
                <h5>Списое пользователей</h5>
            </div>

            <table class="w3-table-all w3-hoverable w3-card-4" >
                <tr class="w3-green">
                    <th>UID</th>
                    <th class="w3-border-left">Имя</th>
                    <th class="w3-border-left">PZM</th>
                    <th class="w3-border-left">USD</th>
                    <th class="w3-border-left">RUR</th>
                </tr>
                <tr ng-repeat="dt in dt1" ng-click="setSelected();">
                    <td>{{ dt.UID }}</td>
                    <td class="w3-border-left">{{ dt.name_f }}</td>
                    <td class="w3-border-left">{{ dt.PZM }}</td>
                    <td class="w3-border-left">{{ dt.USD }}</td>
                    <td class="w3-border-left">{{ dt.RUR }}</td>
                </tr>
            </table>
        </div>

        <div class="w3-panel"></div>

        <div class="w3-card-4">
            <div class="w3-container w3-teal">
                <h5>Список открытых ордеров пользователя</h5>
            </div>


                <% if(users.userDeals.length>0) {%>

                <table class="w3-table-all w3-small w3-striped w3-hoverable">
                    <tr  class="w3-green">
                        <th>Пара</th>
                        <th class="w3-border-left">Тип</th>
                        <th class="w3-border-left">Кол.(остаток)</th>
                        <th class="w3-border-left">Цена</th>
                        <th class="w3-border-left">Сумма</th>
                        <th class="w3-border-left">Дата</th>
                        <th class="w3-border-left"></th>
                    </tr>

                    <tr ng-repeat="dt in dtD" ng-click="setSelected();">
                        <td>{{ dt.deal_currency }}/{{ dt.price_currency}}</td>
                        <td class="{{ dt.color }}">{{ dt.typ }}</td>
                        <td class="w3-border-left">{{ dt.deal_amount }}<span class="w3-small">({{ dt.deal_amount_bill }})</span></td>
                        <td class="w3-border-left">{{ dt.price_amount}}</td>
                        <td class="w3-border-left">{{ dt.summ }}</td>
                        <td class="w3-border-left">{{ dt.dat }}</td>
                        <td class="w3-border-left {{ dt.color2 }}">
                            <div ng-switch="{{ dt.status }}">
                                <div ng-switch-when="0">
                                    <span><a href="{{dt.cans}}">отменить</a> </span>
                                </div>
                                <div ng-switch-when="1">
                                    <span> Активный </span><span><a href="{{dt.cans}}">отменить</a> </span>
                                </div>
                                <div ng-switch-when="3">
                                    <span>отменен</span>
                                </div>
                                <div ng-switch-when="9">
                                    <span>исполнен</span>
                                </div>
                            </div>
                        </td>
                    </tr>

                </table>

                <%}%>

        </div>

        <div class="w3-panel"></div>

        <div class="w3-card-4">
            <div class="w3-container w3-teal">
                <h5>Движения средств</h5>
            </div>

            <table class="w3-table-all w3-hoverable w3-card-4" >
                <tr class="w3-green">
                    <th>Дата</th>
                    <th class="w3-border-left">Операция</th>
                    <th class="w3-border-left">Вид</th>
                    <th class="w3-border-left">Пара</th>
                    <th class="w3-border-left">Кол.</th>
                    <th class="w3-border-left">Цена</th>
                    <th class="w3-border-left">Сумма</th>
                    <th class="w3-border-left">Итог PZM</th>
                    <th class="w3-border-left">Итог RUR</th>
                    <th class="w3-border-left">Статус</th>
                </tr>
                <tr ng-repeat="info in dt2" ng-click="setSelected();">
                    <td>{{ info.createdAt }}</td>
                    <td class="w3-border-left">{{ info.operation_name }}</td>
                    <td class="w3-border-left">{{ info.class }}</td>
                    <td class="w3-border-left">{{ info.par }}</td>
                    <td class="w3-border-left">{{ info.deal_amount }}</td>
                    <td class="w3-border-left">{{ info.price_amount }}</td>
                    <td class="w3-border-left">{{ info.summ }}</td>
                    <td class="w3-border-left">{{ info.smp }}</td>
                    <td class="w3-border-left">{{ info.sm }}</td>
                    <td class="w3-border-left">{{ info.status }}</td>
                </tr>
            </table>
        </div>
    </div>

</div>

<script type="text/javascript">
    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    let nm = {};
    const Curr = ['','PZM','USD','RUR'];
    const Oper = ['','Запрос','Ордер','Счет'];
    const Class = ['Продажа','Покупка'];
    const Class_q = ['Вывод средств','Пополнение'];
    const Status = ['активный','отменен','закрыт'];
    const Status_q = ['создана','подтверждена','','исполнена','отменена'];
    let sm = 0;
    let smp = 0;
    let dl={};
    myApp.controller('MainCtrl', function($scope) {
        $scope.dt1 = [];
        $scope.dt2 = [];
        $scope.dtD = [];


        nm.UID = '<%= users.user.UID%>';
        nm.name_f = '<%= users.user.name_f%>';
        nm.PZM = '<%= users.user.PZM%>';
        nm.USD = '<%= users.user.USD%>';
        nm.RUR = '<%= users.user.RUR%>';
        $scope.dt1.push({UID:nm.UID, name_f:nm.name_f, PZM:nm.PZM, USD:nm.USD, RUR:nm.RUR});

        <% users.userDeals.forEach(function (deal) { %>
            dl={};
            dl.cans = '/api/q/deal/<%= deal._id %>;cancel';
            dl.deal_currency = Curr[<%= deal.deal_currency%>];
            dl.price_currency = Curr[<%= deal.price_currency%>];
            dl.typ = bs[<%= deal.class %>];
            dl.color = clors[<%= deal.class%>];
            dl.deal_amount = <%= deal.deal_amount%>;
            dl.deal_amount_bill = <%= deal.deal_amount_bill%>;
            dl.price_amount = <%= deal.price_amount%>;
            dl.summ = <%= Math.round(deal.deal_amount*deal.price_amount*100)/100 %>;

            dl.dat = TimeMsk('<%= deal.createdAt%>');
            //console.log(dl.dat);
            dl.status = <%= deal.status %>;
            dl.color2 = clors[<%= deal.status%>];
            dl.i = i;

            $scope.dtD.push(dl);
            i++;
        <%})%>

        $scope.setSelected = function() {
            $scope.selected = this.dt;
            console.log(this.dt.name_f);
        };

        <% users.userInfo.forEach(function(item) { %>
            nm={};

            nm.createdAt = TimeMsk("<%= item.createdAt %>");
            nm.operation_name = Oper[<%= item.operation_cod%>];
            nm.class = (<%= item.operation_cod%> == 1) ? Class_q[<%= item.class%>] : Class[<%= item.class%>];
            nm.par = (<%= item.operation_cod%> == 1) ? Curr[Number(<%= item.currency%>)]:Curr[Number(<%= item.deal_currency%>)]+'/'+Curr[Number(<%= item.price_currency %>)];
            nm.deal_amount = (<%= item.operation_cod%> == 1) ? '--':'<%= item.deal_amount%>';
            nm.price_amount = (<%= item.operation_cod%> == 1) ? '--':'<%= item.price_amount%>';
            nm.summ = (<%= item.operation_cod%> == 1) ? '<%= item.amount%>':'<%= item.summ%>';
            if(<%= item.operation_cod%> == 1){
                if(<%= item.class%> == 1 && <%= item.status%> == 3){
                    if(<%= item.currency == 1%>) {
                        smp = smp + Number('<%= item.amount %>');
                    } else {
                        sm = sm + Number('<%= item.amount %>');
                    }
                } else {
                    if(<%= item.status%> == 3){
                        if(<%= item.currency == 1%>) {
                            smp = smp - Number('<%= item.amount %>');
                        } else {
                            sm = sm - Number('<%= item.amount %>');
                        }
                    }
                }
            } else
        {
            if (<%= item.status %> == 2
        )
            {
                if (<%= item.class %> == 0
            )
                {
                    sm = sm + Number('<%= item.summ %>');
                    smp = smp - Number('<%= item.deal_amount %>');
                }
            else
                {
                    sm = sm - Number('<%= item.summ %>');
                    smp = smp + Number('<%= item.deal_amount %>');
                }
            }
        }
            sm = Math.round(sm*100)/100;
        smp = Math.round(smp*100)/100;
            nm.status = (<%= item.operation_cod%> == 1) ? Status_q[Number(<%= item.status%>)]:Status[Number(<%= item.status%>)];
            nm.sm = sm;
            nm.smp = smp;
            $scope.dt2.push(nm);
        <%})%>
    });
    //]]>
</script>