<% const curr = ['','PZM','USD','RUR']; %>

<div class="nav">
    <ul>
        <li><a href="komissii.html">Комиссии</a></li>
        <li><a href="otchety.html">Отчеты</a></li>
        <li><a href="profile.html">Профиль</a></li>
        <li><a href="vvod-vivod.html">Ввод-вывод</a></li>
        <li class="active"><a href="index.html">Главная</a></li>
    </ul>
</div>

<div class="container" >
    <div class="nav-content" ng-controller="w3BtnCtrl">
        <a href="/deals/1;3" class="btn {{ w3Btn[1][3] }}">PZM/RUR</a>
        <a href="/deals/1;2" class="btn {{ w3Btn[1][2] }}">PZM/USD</a>
        <a href="/deals/2;3" class="btn {{ w3Btn[2][3] }}">USD/RUR</a>
    </div>
    <div class="line_black"></div>

    <div class="trades">
        <div class="trade buy">
            <div class="title">КУПИТЬ BTC</div>
            <div class="form">
                <form action="">
                    <div class="form-group"><span class="name">Ваши средства:</span><input ng-click="getSelectBuy()" class="value form-control" id="cash" type="text" value="{{ UBalance_buy }} <%= curr[deals.curr2] %>"></div>
                    <div class="cash">0  BTC</div>
                    <div class="form-group"><span class="name">Количество BTC:</span><input class="value form-control" id="amount" type="text" value="1.00000000"></div>
                    <div class="form-group"><span class="name">Цена за BTC (USD):</span><input class="value form-control" id="price" type="text" value="6000.000"></div>
                    <div class="form-group"><span class="name">Всего:</span><span class="value">0  USD</span></div>
                    <div class="form-group"><span class="name">Комиссия:</span><span class="value">0  BTC</span><button type="submit" class="btn active">Купить</button></div>
                </form>
            </div>
        </div>
        <div class="trade sell">
            <div class="title">ПРОДАТЬ BTC</div>
            <div class="form">
                <form action="">
                    <div class="form-group"><span class="name">Ваши средства:</span><input class="value form-control" id="cash2" type="text"></div>
                    <div class="cash">0  BTC</div>
                    <div class="form-group"><span class="name">Количество BTC:</span><input class="value form-control" id="amount2" type="text" value="1.00000000"></div>
                    <div class="form-group"><span class="name">Цена за BTC (USD):</span><input class="value form-control" id="price2" type="text" value="6000.000"></div>
                    <div class="form-group"><span class="name">Всего:</span><span class="value">0  USD</span></div>
                    <div class="form-group"><span class="name">Комиссия:</span><span class="value">0  BTC</span><button type="submit" class="btn active">Продать</button></div>
                </form>
            </div>
        </div>
    </div>
    <div class="line_black"></div>

    </div>
    <!-- Left Column -->
    <div class="w3-col s6" ng-controller="MainCtrl">
        <div class="w3-card-4">
            <table class="w3-table w3-cyan">
                <tr>
                    <td>
                        <span class="w3-text-black"><b>Купить <%= curr[deals.curr1] %></b></span>
                    </td>
                </tr>
                <tr>
                    <td class="w3-small" ng-click="getSelectBuy()">Ваши средства: <a href="#" class="w3-text-black">{{ UBalance_buy }} <%= curr[deals.curr2] %></a></td>
                </tr>
            </table>
            <form action="/createdeal" method="post" class="w3-container">
                <table>
                    <tr>
                        <td>
                            <input type="hidden" name="class" value="1">
                            <span class="w3-tag w3-green">Количество: <%= curr[deals.curr1] %></span>
                            <input class="w3-input" type="number" value="0" min="1" step="any" name="deal_amount" required ng-model="deal_amount_buy" ng-change="change_buy()">
                            <input type="hidden" name="deal_currency" value="{{ curr1 }}">
                        </td>
                        <td>
                            <span class="w3-tag w3-green">Цена в: <%= curr[deals.curr2] %></span>
                            <input class="w3-input" type="number" value="0" step="any" min="0.1" name="price_amount" required ng-model="price_amount_buy" ng-change="change_buy()">
                            <input type="hidden" name="price_currency" value="{{ curr2 }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="w3-tag w3-cyan">Итого в: <%= curr[deals.curr2] %></span>
                            <input class="w3-input" type="number" step="any" value="{{summ_buy}}" ng-model="summ_buy" name="summ_buy" ng-change="change_buy_summ()">
                        </td>
                        <td>
                            <span class="w3-tag w3-green">Комиссия в: <%= curr[deals.curr1] %></span>
                            <input ng-disabled="true" class="w3-input w3-text-yellow" type="number" value="{{commission_buy}}" name="commiss_buy">
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>
                            <input class="w3-btn w3-teal" type="submit" value="Купить" ng-disabled="data.disabled_buy">
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <% if (deals.dt1.length) {  %>
        <h5>Ордера продажи <%= curr[deals.curr1] %></h5>
        <table class="w3-table-all w3-hoverable w3-card-4" >
            <tr class="w3-green">
                <th>Цена (<%= curr[deals.curr2] %>)</th>
                <th class="w3-border-left">Кол-во (<%= curr[deals.curr1] %>)</th>
                <th class="w3-border-left">Сумма</th>
                <th class="w3-border-left">Глубина</th>
            </tr>
            <tr ng-repeat="dt in dt1" ng-click="setSelected();">
                <td>{{ dt.name }}</td>
                <td class="w3-border-left">{{ dt.deal_am }}</td>
                <td class="w3-border-left">{{ dt.sm }}</td>
                <td class="w3-border-left">{{ dt.glub_buy }}</td>
            </tr>
        </table>
        <% } %>
    </div>


    <!-- Right Column -->
    <div class="w3-col s6" ng-controller="Main2Ctrl">
        <div class="w3-card-4">
            <table class="w3-table w3-orange">
                <tr>
                    <td>
                        <span class="w3-text-black"><b>Продать <%= curr[deals.curr1] %></b></span>
                    </td>
                </tr>
                <tr>
                    <td class="w3-small" ng-click="getSelectSell()">Ваши средства: <a href="#" class="w3-text-black">{{ UBalance_sell }} <%= curr[deals.curr1] %></a></td>
                </tr>
            </table>

            <form action="/createdeal" method="post" class="w3-container">
                <table>
                    <tr>
                        <td>
                            <input type="hidden" name="class" value="0">
                            <span class="w3-tag w3-green">Количество: <%= curr[deals.curr1] %></span>
                            <input class="w3-input" type="number" value="0" min="1" step="any" name="deal_amount" required ng-model="deal_amount_sell" ng-change="change_sell()">
                            <input type="hidden" name="deal_currency" value="{{ curr1 }}">
                        </td>
                        <td>
                            <span class="w3-tag w3-green">Цена в: <%= curr[deals.curr2] %></span>
                            <input class="w3-input" type="number" value="0" step="any" min="0.1" name="price_amount" required ng-model="price_amount_sell" ng-change="change_sell()">
                            <input type="hidden" name="price_currency" value="{{ curr2 }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="w3-tag w3-orange">Итого в: <%= curr[deals.curr2] %></span>
                            <input class="w3-input" type="number" step="any" value="{{summ_sell}}" ng-model="summ_sell" name="summ_sell" ng-change="change_buy_sell()">
                        </td>
                        <td>
                            <span class="w3-tag w3-green">Комиссия в: <%= curr[deals.curr2] %></span>
                            <input ng-disabled="true" class="w3-input w3-text-yellow" type="number" value="{{commission_sell}}" name="commiss_sell" ng-model="commiss_sell">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input class="w3-btn w3-teal" type="submit" value="Продать" ng-disabled="data.disabled_sell">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <% if (deals.dt2.length) { %>
        <h5>Ордера покупки <%= curr[deals.curr1] %></h5>
        <table class="w3-table-all w3-hoverable w3-card-4" >
            <tr class="w3-green">
                <th>Цена (<%= curr[deals.curr2] %>)</th>
                <th class="w3-border-left">Кол-во (<%= curr[deals.curr1] %>)</th>
                <th class="w3-border-left">Сумма</th>
                <th class="w3-border-left">Глубина</th>
            </tr>
            <tr ng-repeat="dt in dt2" ng-click="setSelected();">
                <td>{{ dt.name }}</td>
                <td class="w3-border-left">{{ dt.deal_am }}</td>
                <td class="w3-border-left">{{ dt.sm }}</td>
                <td class="w3-border-left">{{ dt.glub_sell }}</td>
            </tr>
        </table>
        <% } %>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    let nm = {};
    let glub_buy = 0;
    let glub_sell = 0;
    let minPrice = 0;
    let maxPrice = 0;
    const bs = ['продажа','покупка'];
    const clors=['w3-orange','w3-cyan','w3-gray','w3-brown','w3-gray','','','','','w3-gray'];
    <% if (deals.dt1.length>0){%>
    minPrice = <%= deals.dt1[0]._id%>
    <%}%>
    <% if (deals.dt2.length>0){%>
        maxPrice = <%= deals.dt2[0]._id%>
    <%}%>
    const Curr = ['','PZM','USD','RUR'];
    const w3Btn = [[],['','','', ''],['','','',''],['','','','']];
    myApp.controller('w3BtnCtrl', function ($scope) {
        $scope.w3Btn = w3Btn;
        $scope.w3Btn[<%= deals.curr1 %>][<%= deals.curr2 %>] = 'active';
    });

    myApp.controller('userDealsCtrl', function($scope) {
        //*************************
        $scope.dtud = [];
        $scope.minPrice = minPrice;
        $scope.commission_buy = 0;
        $scope.data = {disabled_buy: true};
        i=0;
        <% userDeals.forEach(function (deal) { %>
        dl={};
        dl.cans = '/api/q/deal/<%= deal._id %>;cancel';
        dl.deal_currency = Curr[<%= deal.deal_currency%>];
        dl.price_currency = Curr[<%= deal.price_currency%>];
        dl.typ = bs[<%= deal.class %>];
        dl.color = clors[<%= deal.class%>];
        dl.deal_amount = <%= deal.deal_amount%>;
        dl.deal_amount_bill = <%= deal.deal_amount_bill%>;
        dl.price_amount = <%= deal.price_amount%>;
        dl.summ = <%= Math.round(deal.deal_amount*deal.price_amount*100)/100 %>;
        dl.summ_bill = <%= Math.round(deal.summ_bill*100)/100%>;

        dl.dat = TimeMsk('<%= deal.createdAt%>');
        //console.log(dl.dat);
        dl.status = <%= deal.status %>;
        dl.color2 = clors[<%= deal.status%>];
        dl.i = i;

        $scope.dtud.push(dl);
        i++;
        <%})%>


        //*********************************
    });


    myApp.controller('MainCtrl', function($scope) {
        $scope.curr1 = Curr[<%= deals.curr1 %>];
        $scope.curr2 = Curr[<%= deals.curr2 %>];
        $scope.dt1 = [];
        $scope.minPrice = Math.round(minPrice*100)/100;
        $scope.commission_buy = 0;
        $scope.summ_buy = 0;
        $scope.data = {disabled_buy: true};
        $scope.UBalance_buy = <%= UBalance[deals.curr2]%>;
                <% deals.dt1.forEach(function (name) { %>
                    nm.name = <%= Math.round(name._id*100)/100 %>;
                    nm.deal_am = <%= Math.round(name.deal_am*100)/100 %>;
                    nm.sm = <%= Math.round(name._id * name.deal_am * 100) / 100 %>;
                        glub_buy = Math.round((glub_buy + nm.deal_am)*100)/100;
                    $scope.dt1.push({name:nm.name, deal_am:nm.deal_am, sm:nm.sm, glub_buy:glub_buy});
                <%})%>
        $scope.setSelected = function() {
            $scope.selected = this.dt;
            $scope.deal_amount_buy = this.dt.glub_buy;
            $scope.price_amount_buy = this.dt.name;
            $scope.commission_buy = Math.round(this.dt.glub_buy*0.007*100)/100;
            $scope.data.disabled_buy = !($scope.deal_amount_buy > 0 && $scope.price_amount_buy > 0);
            $scope.summ_buy = Math.round($scope.deal_amount_buy * $scope.price_amount_buy*100)/100;
        };
        $scope.change_buy = function () {
            $scope.commission_buy = Math.round($scope.deal_amount_buy*0.007*100)/100;
            $scope.data.disabled_buy = !($scope.deal_amount_buy > 0 && $scope.price_amount_buy > 0);
            $scope.summ_buy = Math.round($scope.deal_amount_buy * $scope.price_amount_buy*100)/100;
        };
        $scope.change_buy_summ = function () {
                if($scope.price_amount_buy > 0){
                    $scope.deal_amount_buy = Math.round($scope.summ_buy / $scope.price_amount_buy*100)/100;
                }
            $scope.commission_buy = Math.round($scope.deal_amount_buy*0.007*100)/100;
        };
        $scope.getSelectBuy = function () {
            let price_buy = ($scope.price_amount_buy !== undefined ? $scope.price_amount_buy : minPrice);

            $scope.deal_amount_buy = Math.round((this.UBalance_buy-0.3) / price_buy * 100) / 100;
            $scope.price_amount_buy = price_buy;
            $scope.commission_buy = Math.round($scope.deal_amount_buy*0.007*100)/100;
            $scope.data.disabled_buy = !($scope.deal_amount_buy > 0 && $scope.price_amount_buy > 0);
            $scope.summ_buy = Math.round($scope.deal_amount_buy*$scope.price_amount_buy*100)/100;

        }

    });
    myApp.controller('Main2Ctrl', function($scope) {
        $scope.curr1 = Curr[<%= deals.curr1 %>];
        $scope.curr2 = Curr[<%= deals.curr2 %>];
        $scope.dt2 = [];
        $scope.maxPrice = Math.round(maxPrice*100)/100;
        $scope.commission_sell = 0;
        $scope.summ_sell = 0;
        $scope.data = {disabled_sell:true};
        $scope.UBalance_sell = <%= UBalance[deals.curr1]%>
        <% deals.dt2.forEach(function (name) { %>
        nm.name = <%= Math.round(name._id*100)/100 %>
            nm.deal_am = <%= Math.round(name.deal_am*100)/100 %>
                nm.sm = <%= Math.round(name._id * name.deal_am* 100) / 100 %>
                    glub_sell = Math.round((glub_sell + nm.deal_am)*100)/100;
                    $scope.dt2.push({name:nm.name, deal_am: nm.deal_am, sm: nm.sm, glub_sell:glub_sell})
        <%})%>
        $scope.setSelected = function() {
            $scope.selected = this.dt;
            $scope.deal_amount_sell = this.dt.glub_sell;
            $scope.price_amount_sell = this.dt.name;
            $scope.commission_sell = Math.round(this.dt.glub_sell*this.dt.name*0.007*100)/100;
            $scope.data.disabled_sell = !($scope.deal_amount_sell > 0 && $scope.price_amount_sell > 0);
            $scope.summ_sell = Math.round($scope.deal_amount_sell * $scope.price_amount_sell*100)/100;
        };
        $scope.change_sell = function () {
            $scope.commission_sell = Math.round($scope.deal_amount_sell*$scope.price_amount_sell*0.007*100)/100;
            $scope.data.disabled_sell = !($scope.deal_amount_sell > 0 && $scope.price_amount_sell > 0);
            $scope.summ_sell = Math.round($scope.deal_amount_sell * $scope.price_amount_sell*100)/100;
        };
        $scope.change_buy_sell = function () {
            if($scope.price_amount_sell > 0){
                $scope.deal_amount_sell = Math.round(($scope.summ_sell / $scope.price_amount_sell)*100)/100;
                $scope.commission_sell = Math.round($scope.deal_amount_sell*$scope.price_amount_sell*0.007*100)/100;
                $scope.data.disabled_sell = !($scope.deal_amount_sell > 0 && $scope.price_amount_sell > 0);
            }
        };
        $scope.getSelectSell = function () {
            let price_sell = ($scope.price_amount_sell !== undefined ? $scope.price_amount_sell : maxPrice);
            $scope.deal_amount_sell = this.UBalance_sell;
            $scope.price_amount_sell = price_sell;
            $scope.commission_sell = Math.round(this.UBalance_sell*price_sell*0.007*100)/100;
            $scope.data.disabled_sell = !($scope.deal_amount_sell > 0 && $scope.price_amount_sell > 0);
            $scope.summ_sell = Math.round($scope.deal_amount_sell * $scope.price_amount_sell*100)/100;
        }
    });
    //]]>
</script>