<div class="w3-panel">
    <a href="/deals/1;2" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge">Pzm/Gld</a>
    <a href="/deals/1;3" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge">Pzm/Slv</a>
    <a href="/deals/2;3" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge">Gld/Slv</a>
    <!-- <a href="/3;3" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge">Pzm/Slv</a> -->
</div>

<% const curr = ['', 'Prizm', 'Gold', 'Silver']; %>
<div class="w3-row-padding">
    <!-- Left Column -->
    <div class="w3-col s6">
        <% if (deals.dt1.length) {  %>
        <h4>Продажа</h4>
        <table class="w3-table-all w3-hoverable w3-card-4">
            <tr class="w3-green">
                <th>Цена(<%= curr[deals.curr2] %>)</th>
                <th>Количество</th>
            </tr>

            <% deals.dt1.forEach(function (name) { %>
            <tr>
                <td><%= Math.round(name._id*10000)/10000 %></td>
                <td><%= name.deal_am %></td>
            </tr>
            <% }) %>
        </table>
        <% } %>
    </div>
    <!-- Right Column -->
    <div class="w3-col s6">
        <% if (deals.dt2.length) { %>
        <h4>Покупка</h4>
        <table class="w3-table-all w3-hoverable w3-card-4">
            <tr class="w3-green">
                <th>Цена(<%= curr[deals.curr2] %>)</th>
                <th>Количество</th>
            </tr>
            <% deals.dt2.forEach(function (name) { %>
            <tr>
                <td><%= Math.round(name._id*10000)/10000 %></td>
                <td><%= name.deal_am %></td>
            </tr>
            <% }) %>
        </table>
        <% } %>
    </div>
</div>
