

<% const curr = ['','PZM','USD','RUR']; %>
<div class="w3-row-padding w3-text-small" ng-app="myApp">
    <div class="w3-panel" xmlns="http://www.w3.org/1999/html" ng-controller="w3BtnCtrl">

        <a href="/deals/1;3" class="w3-btn {{ w3Btn[1][3] }} w3-border w3-border-green w3-round-xlarge">PZM/RUR</a>
        <a href="/deals/1;2" class="w3-btn {{ w3Btn[1][2] }} w3-border w3-border-green w3-round-xlarge">PZM/USD</a>
        <a href="/deals/2;3" class="w3-btn {{ w3Btn[2][3] }} w3-border w3-border-green w3-round-xlarge">USD/RUR</a>
        <!-- <a href="/3;3" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge">Pzm/Slv</a> -->

    </div>
    <!-- Left Column -->
    <div class="w3-col s6" ng-controller="MainCtrl">
        <div class="w3-card-4">
            <table class="w3-table w3-teal">
                <tr>
                    <td>
                        <span class="w3-text-black">Купить <%= curr[deals.curr1] %></span>
                    </td>
                    <td class="w3-small" ng-click="getSelectBuy()">Ваши средства: <a href="#" class="w3-text-black">{{ UBalance_buy }}</a></td>
                    <td class="w3-small w3-right-align w3-small">
                        <span>Мин.цена:  {{ minPrice}} <%= curr[deals.curr2] %></span>
                    </td>
                </tr>
            </table>
            <form action="/createdeal" method="post" class="w3-container">
                    <input type="hidden" name="class" value="1">
                <p>
                    <span>Количество:</span>
                    <input class="w3-input" type="number" value="0" step="any" name="deal_amount" required ng-model="deal_amount_buy" ng-change="change_buy()">
                    <span class="w3-tag w3-green"><%= curr[deals.curr1] %></span>
                    <input type="hidden" name="deal_currency" value="{{ curr1 }}">
                </p>
                <p>
                    <span>Цена:</span>
                    <input class="w3-input" type="number" value="0" step="any" name="price_amount" required ng-model="price_amount_buy" ng-change="change_buy()">
                    <span class="w3-tag w3-green"><%= curr[deals.curr2] %></span>
                    <input type="hidden" name="price_currency" value="{{ curr2 }}">
                </p>
                <p>
                    <span class="w3-text-yellow">Комиссия:</span>
                    <input ng-disabled="true" class="w3-input w3-text-yellow" type="number" value="{{commission_buy}}" name="commiss_buy">
                    <span class="w3-tag w3-green"><%= curr[deals.curr1] %></span>
                </p>

                <p>
                    <input class="w3-btn w3-teal" type="submit" value="Купить">
                </p>
            </form>
        </div>

        <% if (deals.dt1.length) {  %>
        <h5>Ордера продажи <%= curr[deals.curr1] %></h5>
        <table class="w3-table-all w3-hoverable w3-card-4" >
            <tr class="w3-green">
                <th>Цена (<%= curr[deals.curr2] %>)</th>
                <th class="w3-border-left">Кол-во (<%= curr[deals.curr1] %>)</th>
                <th class="w3-border-left">Сумма</th>
                <th class="w3-border-left">Глубина</th>
            </tr>
            <tr ng-repeat="dt in dt1" ng-click="setSelected();">
                <td>{{ dt.name }}</td>
                <td class="w3-border-left">{{ dt.deal_am }}</td>
                <td class="w3-border-left">{{ dt.sm }}</td>
                <td class="w3-border-left">{{ dt.glub_buy }}</td>
            </tr>
        </table>
        <% } %>
    </div>
    <!-- Right Column -->
    <div class="w3-col s6" ng-controller="Main2Ctrl">
        <div class="w3-card-4">
            <table class="w3-table w3-teal">
                <tr>
                    <td>
                        <span>Продать <%= curr[deals.curr1] %></span>
                    </td>
                    <td class="w3-small" ng-click="getSelectSell()">Ваши средства: <a href="#" class="w3-text-black">{{ UBalance_sell }}</a></td>
                    <td class="w3-small w3-right-align">
                        <span>Макс.цена:  {{ maxPrice}} <%= curr[deals.curr2] %></span>
                    </td>
                </tr>
            </table>

            <form action="/createdeal" method="post" class="w3-container">
                <input type="hidden" name="class" value="0">
                <p>
                    <span>Количество:</span>
                    <input class="w3-input" type="number" value="0" step="any" name="deal_amount" required ng-model="deal_amount_sell" ng-change="change_sell()">
                    <span class="w3-tag w3-green"><%= curr[deals.curr1] %></span>
                    <input type="hidden" name="deal_currency" value="{{ curr1 }}">
                </p>
                <p>
                    <span>Цена:</span>
                    <input class="w3-input" type="number" value="0" step="any" name="price_amount" required ng-model="price_amount_sell" ng-change="change_sell()">
                    <span class="w3-tag w3-green"><%= curr[deals.curr2] %></span>
                    <input type="hidden" name="price_currency" value="{{ curr2 }}">
                </p>
                <p>
                    <span class="w3-text-yellow">Комиссия:</span>
                    <input ng-disabled="true" class="w3-input w3-text-yellow" type="number" value="{{commission_sell}}" name="commiss_sell">
                    <span class="w3-tag w3-green"><%= curr[deals.curr2] %></span>
                </p>

                <p>
                    <input class="w3-btn w3-teal" type="submit" value="Продать">
                </p>
            </form>
        </div>
        <% if (deals.dt2.length) { %>
        <h5>Ордера покупки <%= curr[deals.curr1] %></h5>
        <table class="w3-table-all w3-hoverable w3-card-4" >
            <tr class="w3-green">
                <th>Цена (<%= curr[deals.curr2] %>)</th>
                <th class="w3-border-left">Кол-во (<%= curr[deals.curr1] %>)</th>
                <th class="w3-border-left">Сумма</th>
                <th class="w3-border-left">Глубина</th>
            </tr>
            <tr ng-repeat="dt in dt2" ng-click="setSelected();">
                <td>{{ dt.name }}</td>
                <td class="w3-border-left">{{ dt.deal_am }}</td>
                <td class="w3-border-left">{{ dt.sm }}</td>
                <td class="w3-border-left">{{ dt.glub_sell }}</td>
            </tr>
        </table>
        <% } %>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    let nm = {};
    let glub_buy = 0;
    let glub_sell = 0;
    let minPrice = 0;
    let maxPrice = 0;
    <% if (deals.dt1.length>0){%>
    minPrice = <%= deals.dt1[0]._id%>
    <%}%>
    <% if (deals.dt2.length>0){%>
        maxPrice = <%= deals.dt2[0]._id%>
    <%}%>
    const Curr = ['','PZM','USD','RUR'];
    const w3Btn = [[],['','','w3-white', 'w3-white'],['','w3-white','','w3-white'],['','w3-white','w3-white','']];
    myApp.controller('w3BtnCtrl', function ($scope) {
        $scope.w3Btn = w3Btn;
        $scope.w3Btn[<%= deals.curr1 %>][<%= deals.curr2 %>] = 'w3-gray';
    });
    myApp.controller('MainCtrl', function($scope) {
        $scope.curr1 = Curr[<%= deals.curr1 %>];
        $scope.curr2 = Curr[<%= deals.curr2 %>];
        $scope.dt1 = [];
        $scope.minPrice = minPrice;
        $scope.commission_buy = 0;
        $scope.UBalance_buy = <%= UBalance[deals.curr2]%>
                <% deals.dt1.forEach(function (name) { %>
                    nm.name = <%= Math.round(name._id*10000000)/10000000 %>
                    nm.deal_am = <%= name.deal_am %>
                    nm.sm = <%= Math.round((Math.round(name._id*10000000)/10000000 * name.deal_am)* 10000000) / 10000000 %>
                        glub_buy = glub_buy + nm.deal_am;
                    $scope.dt1.push({name:nm.name, deal_am:nm.deal_am, sm:nm.sm, glub_buy:glub_buy});
                <%})%>
        $scope.setSelected = function() {
            $scope.selected = this.dt;
            $scope.deal_amount_buy = this.dt.glub_buy;
            $scope.price_amount_buy = this.dt.name;
            $scope.commission_buy = this.dt.glub_buy*0.007;
        };
        $scope.change_buy = function () {
            $scope.commission_buy = Math.round($scope.deal_amount_buy*0.007*10000000)/10000000;
        };
        $scope.getSelectBuy = function () {
            let price_buy = ($scope.price_amount_buy !== undefined ? $scope.price_amount_buy : minPrice);
            $scope.deal_amount_buy = Math.round(this.UBalance_buy / price_buy * 100) / 100;
            $scope.price_amount_buy = price_buy;
            $scope.commission_buy = Math.round($scope.deal_amount_buy*0.007*10000000)/10000000;
        }
    });
    myApp.controller('Main2Ctrl', function($scope) {
        $scope.curr1 = Curr[<%= deals.curr1 %>];
        $scope.curr2 = Curr[<%= deals.curr2 %>];
        $scope.dt2 = [];
        $scope.maxPrice = maxPrice;
        $scope.commission_sell = 0;
        $scope.UBalance_sell = <%= UBalance[deals.curr1]%>
        <% deals.dt2.forEach(function (name) { %>
        nm.name = <%= Math.round(name._id*10000000)/10000000 %>
            nm.deal_am = <%= name.deal_am %>
                nm.sm = <%= Math.round((Math.round(name._id*10000000)/10000000 * name.deal_am)* 10000000) / 10000000 %>
                    glub_sell = glub_sell + nm.deal_am;
                    $scope.dt2.push({name:nm.name, deal_am: nm.deal_am, sm: nm.sm, glub_sell:glub_sell})
        <%})%>
        $scope.setSelected = function() {
            $scope.selected = this.dt;
            $scope.deal_amount_sell = this.dt.glub_sell;
            $scope.price_amount_sell = this.dt.name;
            $scope.commission_sell = this.dt.glub_sell*this.dt.name*0.007;
        };
        $scope.change_sell = function () {
            $scope.commission_sell = Math.round($scope.deal_amount_sell*$scope.price_amount_sell*0.007*10000000)/10000000;
        };
        $scope.getSelectSell = function () {
            let price_sell = ($scope.price_amount_sell !== undefined ? $scope.price_amount_sell : maxPrice);
            $scope.deal_amount_sell = this.UBalance_sell;
            $scope.price_amount_sell = price_sell;
            $scope.commission_sell = this.UBalance_sell*price_sell*0.007;
        }
    });
    //]]>
</script>