<% const curr = ['','PZM','USD','RUR']; %>

<div class="nav">
    <ul>
        <li><a href="komissii.html">Комиссии</a></li>
        <li><a href="/userinfo">Отчеты</a></li>
        <li ><a href="/profile/data">Профиль</a></li>
        <li><a href="/profile/query">Ввод-вывод</a></li>
        <li class="active"><a href="/">Главная</a></li>
    </ul>
</div>

<div ng-controller="MainCtrl">

<div class="container" >
    <div class="nav-content" ng-controller="w3BtnCtrl">
        <a href="/deals/1;3" class="btn {{ w3Btn[1][3] }}">PZM/RUR</a>
        <a href="/deals/1;2" class="btn {{ w3Btn[1][2] }}">PZM/USD</a>
        <a href="/deals/2;3" class="btn {{ w3Btn[2][3] }}">USD/RUR</a>
    </div>
    <div class="line_black"></div>

    <div class="trades">

        <div class="trade buy">
            <div class="title">КУПИТЬ <%= curr[deals.curr1] %></div>
            <div class="form">
                <form action="/createdeal" method="post">
                    <div class="form-group"><span class="name">Ваши средства: <%= curr[deals.curr2] %> </span><span class="value" ng-click="getSelectBuy()" class="value form-control" id="cash" type="text">{{ UBalance_buy }} </span></div>
                    <div class="cash"></div><input type="hidden" name="class" value="1"><input type="hidden" name="deal_currency" value="{{ curr1 }}">
                    <div class="form-group"><span class="name">Количество: <%= curr[deals.curr1] %></span><input class="value form-control" id="amount" type="number" value="0" min="1" step="any" name="deal_amount" required ng-model="deal_amount_buy" ng-change="change_buy()"></div>
                    <input type="hidden" name="price_currency" value="{{ curr2 }}">
                    <div class="form-group"><span class="name">Цена: <%= curr[deals.curr2] %></span><input class="value form-control" id="price" type="number" value="0" step="any" min="0.1" name="price_amount" required ng-model="price_amount_buy" ng-change="change_buy()"></div>
                    <div class="form-group"><span class="name">Всего: <%= curr[deals.curr2] %></span><input class="value form-control" type="number" step="any" value="{{summ_buy}}" ng-model="summ_buy" name="summ_buy" ng-change="change_buy_summ()" ></div>
                    <div class="form-group"><span class="name">Комиссия: <%= curr[deals.curr1] %></span><span class="value">{{commission_buy}}</span><button type="submit" class="btn active">Купить</button></div>
                </form>
            </div>

    </div>

            <div class="trade sell">
                <div class="title">ПРОДАТЬ <%= curr[deals.curr1] %></div>
                <div class="form">
                    <form action="/createdeal" method="post">
                        <div class="form-group"><span class="name">Ваши средства: <%= curr[deals.curr1] %> </span><span class="value" ng-click="getSelectSell()" class="value form-control" id="cash2" type="text">{{ UBalance_sell }} </span></div>
                        <div class="cash"></div><input type="hidden" name="class" value="1"><input type="hidden" name="deal_currency" value="{{ curr2 }}">
                        <div class="form-group"><span class="name">Количество: <%= curr[deals.curr2] %></span><input class="value form-control" id="amount2" type="number" value="0" min="1" step="any" name="deal_amount" required ng-model="deal_amount_sell" ng-change="change_sell()"></div>
                        <input type="hidden" name="price_currency" value="{{ curr1 }}">
                        <div class="form-group"><span class="name">Цена: <%= curr[deals.curr1] %></span><input class="value form-control" id="price2" type="number" value="0" step="any" min="0.1" name="price_amount" required ng-model="price_amount_sell" ng-change="change_sell()"></div>
                        <div class="form-group"><span class="name">Всего: <%= curr[deals.curr1] %></span><input class="value form-control" type="number" step="any" value="{{summ_sell}}" ng-model="summ_sell" name="summ_sell" ng-change="change_buy_sell()" ></div>
                        <div class="form-group"><span class="name">Комиссия: <%= curr[deals.curr2] %></span><span class="value">{{commission_sell}}</span><button type="submit" class="btn active">Купить</button></div>
                    </form>
                </div>
            </div>

        </div>


<div ng-controller="userDealsCtrl">
    <div class="orders_on_buy_full" >
        <% if (userDeals.length>0) {  %>
        <div class="line_black"></div>
        <div class="title">Мои ордера</div>
        <div class="tableback">
            <div class="table">
                <table>
                    <thead>
                    <tr>
                        <td>Дата <img src="img/sort.png" alt=""></td>
                        <td>Пара </td>
                        <td>Тип</td>
                        <td>Кол.(остаток)</td>
                        <td>Цена</td>
                        <td>Сумма</td>
                        <td>Статус</td>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="dt in dtud" >
                        <td ><div class="min-width">{{ dt.dat }}</div></td>
                        <td><div class="min-width">{{ dt.deal_currency }}/{{ dt.price_currency}}</div></td>
                        <td ><div class="min-width">{{ dt.typ }}</div></td>
                        <td ><div class="min-width">{{ dt.deal_amount }}<span> ({{ dt.deal_amount_bill }})</span></div></td>
                        <td ><div class="min-width">{{ dt.price_amount}}</div></td>
                        <td ><div class="min-width">{{ dt.summ }}<span> ({{ dt.summ_bill }})</span></div></td>
                        <td class=" {{ dt.color2 }}"><div class="min-width">
                            <div ng-switch="{{ dt.status }}">
                                <div ng-switch-when="0">
                                    <span><a href="{{dt.cans}}">отменить</a> </span>
                                </div>
                                <div ng-switch-when="1">
                                    <span> Активный </span><span><a href="{{dt.cans}}">отменить</a> </span>
                                </div>
                                <div ng-switch-when="3">
                                    <span>отменен</span>
                                </div>
                                <div ng-switch-when="9">
                                    <span>исполнен</span>
                                </div>
                            </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <%}%>
    </div>
</div>

    <div class="orders_on_buy_and_sell">

        <div class="orders_on_sell">
            <div class="line_black"></div>
            <div class="inner">
                <div class="title">
                    Ордера на продажу
                </div>
                <div class="total"><span>Всего: </span>886.06491500  BTC</div>
                <div class="tableback">
                    <div class="table">
                        <table>
                            <thead>
                            <tr>
                                <td>Цена (<%= curr[deals.curr2] %>)</td>
                                <td>Кол-во (<%= curr[deals.curr1] %>)</td>
                                <td>Сумма</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="dt in dt1" ng-click="setSelected_dt1();">
                                <td><div class="min-width">{{ dt.name }}</div></td>
                                <td><div class="min-width">{{ dt.deal_am }}</div></td>
                                <td><div class="min-width">{{ dt.sm }}</div></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="orders_on_buy">
            <div class="line_black"></div>
            <div class="inner">
                <div class="title">
                    Ордера на покупку
                </div>
                <div class="total"><span>Всего: </span>886.06491500  BTC</div>
                <div class="tableback">
                    <div class="table">
                        <table>
                            <thead>
                            <tr>
                                <td>Цена (<%= curr[deals.curr2] %>)</td>
                                <td>Кол-во (<%= curr[deals.curr1] %>)</td>
                                <td>Сумма</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="dt in dt2" ng-click="setSelected_dt2();">
                                <td><div class="min-width">{{ dt.name }}</div></td>
                                <td><div class="min-width">{{ dt.deal_am }}</div></td>
                                <td><div class="min-width">{{ dt.sm }}</div></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="line_black"></div>




</div>
</div>

<script type="text/javascript">
    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    let nm = {};
    let glub_buy = 0;
    let glub_sell = 0;
    let minPrice = 0;
    let maxPrice = 0;
    const bs = ['продажа','покупка'];
    const clors=['w3-orange','w3-cyan','w3-gray','w3-brown','w3-gray','','','','','w3-gray'];
    <% if (deals.dt1.length>0){%>
    minPrice = <%= deals.dt1[0]._id%>
    <%}%>
    <% if (deals.dt2.length>0){%>
        maxPrice = <%= deals.dt2[0]._id%>
    <%}%>
    const Curr = ['','PZM','USD','RUR'];
    const w3Btn = [[],['','','', ''],['','','',''],['','','','']];
    myApp.controller('w3BtnCtrl', function ($scope) {
        $scope.w3Btn = w3Btn;
        $scope.w3Btn[<%= deals.curr1 %>][<%= deals.curr2 %>] = 'active';
    });

    myApp.controller('userDealsCtrl', function($scope) {
        //*************************
        $scope.dtud = [];
        $scope.minPrice = minPrice;
        $scope.commission_buy = 0;
        $scope.data = {disabled_buy: true};
        i=0;
        <% userDeals.forEach(function (deal) { %>
        dl={};
        dl.cans = '/api/q/deal/<%= deal._id %>;cancel';
        dl.deal_currency = Curr[<%= deal.deal_currency%>];
        dl.price_currency = Curr[<%= deal.price_currency%>];
        dl.typ = bs[<%= deal.class %>];
        dl.color = clors[<%= deal.class%>];
        dl.deal_amount = <%= deal.deal_amount%>;
        dl.deal_amount_bill = <%= deal.deal_amount_bill%>;
        dl.price_amount = <%= deal.price_amount%>;
        dl.summ = <%= Math.round(deal.deal_amount*deal.price_amount*100)/100 %>;
        dl.summ_bill = <%= Math.round(deal.summ_bill*100)/100%>;

        dl.dat = TimeMsk('<%= deal.createdAt%>');
        //console.log(dl.dat);
        dl.status = <%= deal.status %>;
        dl.color2 = clors[<%= deal.status%>];
        dl.i = i;

        $scope.dtud.push(dl);
        i++;
        <%})%>


        //*********************************
    });


    myApp.controller('MainDealsBuy', function ($scope) {


    });



    myApp.controller('MainCtrl', function($scope) {
        $scope.curr1 = Curr[<%= deals.curr1 %>];
        $scope.curr2 = Curr[<%= deals.curr2 %>];

        $scope.minPrice = Math.round(minPrice*100)/100;
        $scope.commission_buy = 0;
        $scope.summ_buy = 0;
        $scope.data = {disabled_buy: true, disabled_sell:true};
        $scope.UBalance_buy = <%= UBalance[deals.curr2]%>;
        $scope.dt1 = [];

        $scope.dt2 = [];
        $scope.maxPrice = Math.round(maxPrice*100)/100;
        $scope.commission_sell = 0;
        $scope.summ_sell = 0;

        <% deals.dt1.forEach(function (name) { %>
        nm.name = <%= Math.round(name._id*100)/100 %>;
        nm.deal_am = <%= Math.round(name.deal_am*100)/100 %>;
        nm.sm = <%= Math.round(name._id * name.deal_am * 100) / 100 %>;
        glub_buy = Math.round((glub_buy + nm.deal_am)*100)/100;
        $scope.dt1.push({name:nm.name, deal_am:nm.deal_am, sm:nm.sm, glub_buy:glub_buy});
        <%})%>
        $scope.setSelected_dt1 = function() {
            $scope.selected = this.dt;
            $scope.deal_amount_buy = this.dt.glub_buy;
            $scope.price_amount_buy = this.dt.name;
            $scope.commission_buy = Math.round(this.dt.glub_buy*0.007*100)/100;
            $scope.data.disabled_buy = !($scope.deal_amount_buy > 0 && $scope.price_amount_buy > 0);
            $scope.summ_buy = Math.round($scope.deal_amount_buy * $scope.price_amount_buy*100)/100;
        };

        $scope.change_buy = function () {
            $scope.commission_buy = Math.round($scope.deal_amount_buy*0.007*100)/100;
            $scope.data.disabled_buy = !($scope.deal_amount_buy > 0 && $scope.price_amount_buy > 0);
            $scope.summ_buy = Math.round($scope.deal_amount_buy * $scope.price_amount_buy*100)/100;
        };
        $scope.change_buy_summ = function () {
                if($scope.price_amount_buy > 0){
                    $scope.deal_amount_buy = Math.round($scope.summ_buy / $scope.price_amount_buy*100)/100;
                }
            $scope.commission_buy = Math.round($scope.deal_amount_buy*0.007*100)/100;
        };
        $scope.getSelectBuy = function () {
            let price_buy = ($scope.price_amount_buy !== undefined ? $scope.price_amount_buy : minPrice);

            $scope.deal_amount_buy = Math.round((this.UBalance_buy-0.3) / price_buy * 100) / 100;
            $scope.price_amount_buy = price_buy;
            $scope.commission_buy = Math.round($scope.deal_amount_buy*0.007*100)/100;
            $scope.data.disabled_buy = !($scope.deal_amount_buy > 0 && $scope.price_amount_buy > 0);
            $scope.summ_buy = Math.round($scope.deal_amount_buy*$scope.price_amount_buy*100)/100;
            if (isNaN($scope.commission_buy)) $scope.commission_buy=0;

        }

        $scope.UBalance_sell = <%= UBalance[deals.curr1]%>
                <% deals.dt2.forEach(function (name) { %>
            nm.name = <%= Math.round(name._id*100)/100 %>
                nm.deal_am = <%= Math.round(name.deal_am*100)/100 %>
                    nm.sm = <%= Math.round(name._id * name.deal_am* 100) / 100 %>
                        glub_sell = Math.round((glub_sell + nm.deal_am)*100)/100;
        $scope.dt2.push({name:nm.name, deal_am: nm.deal_am, sm: nm.sm, glub_sell:glub_sell})
        <%})%>
        $scope.setSelected_dt2 = function() {
            $scope.selected = this.dt;
            $scope.deal_amount_sell = this.dt.glub_sell;
            $scope.price_amount_sell = this.dt.name;
            $scope.commission_sell = Math.round(this.dt.glub_sell*this.dt.name*0.007*100)/100;
            $scope.data.disabled_sell = !($scope.deal_amount_sell > 0 && $scope.price_amount_sell > 0);
            $scope.summ_sell = Math.round($scope.deal_amount_sell * $scope.price_amount_sell*100)/100;
        };
        $scope.change_sell = function () {
            $scope.commission_sell = Math.round($scope.deal_amount_sell*$scope.price_amount_sell*0.007*100)/100;
            $scope.data.disabled_sell = !($scope.deal_amount_sell > 0 && $scope.price_amount_sell > 0);
            $scope.summ_sell = Math.round($scope.deal_amount_sell * $scope.price_amount_sell*100)/100;
        };
        $scope.change_buy_sell = function () {
            if($scope.price_amount_sell > 0){
                $scope.deal_amount_sell = Math.round(($scope.summ_sell / $scope.price_amount_sell)*100)/100;
                $scope.commission_sell = Math.round($scope.deal_amount_sell*$scope.price_amount_sell*0.007*100)/100;
                $scope.data.disabled_sell = !($scope.deal_amount_sell > 0 && $scope.price_amount_sell > 0);
            }
        };
        $scope.getSelectSell = function () {
            let price_sell = ($scope.price_amount_sell !== undefined ? $scope.price_amount_sell : maxPrice);
            $scope.deal_amount_sell = this.UBalance_sell;
            $scope.price_amount_sell = price_sell;
            $scope.commission_sell = Math.round(this.UBalance_sell*price_sell*0.007*100)/100;
            $scope.data.disabled_sell = !($scope.deal_amount_sell > 0 && $scope.price_amount_sell > 0);
            $scope.summ_sell = Math.round($scope.deal_amount_sell * $scope.price_amount_sell*100)/100;
        }

    });
    myApp.controller('Main2Ctrl', function($scope) {


    });
    //]]>
</script>