<div class="w3-panel" xmlns="http://www.w3.org/1999/html">
    <a href="/deals/1;2" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge">Pzm/Gld</a>
    <a href="/deals/1;3" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge">Pzm/Slv</a>
    <a href="/deals/2;3" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge">Gld/Slv</a>
    <!-- <a href="/3;3" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge">Pzm/Slv</a> -->
</div>

<% const curr = ['', 'Prizm', 'Gold', 'Silver']; %>
<div class="w3-row-padding" ng-app="myApp">
    <!-- Left Column -->
    <div class="w3-col s6">
        <div class="w3-card-4">
            <div class="w3-container w3-teal">
                <h5>Купить</h5>
            </div>
            <form action="/createdeal" method="post" class="w3-container">
                    <input type="hidden" name="class" value="1">
                <p>
                    <input class="w3-input" type="number" value="0.0" pattern="[\d+(\.\d{2})?]" step="any" name="deal_amount" required ng-model="deal_amount">
                    <input type="hidden" name="deal_currency" value="currPrizm">
                    <label>Кол-во: {{deal_amount}}</label>
                </p>
                <p>
                    <input class="w3-input" type="text" name="price_amount" required ng-model="price_amount">
                    <input type="hidden" name="price_currency" value="currGold">
                    <label>Цена с комиссией: {{price_amount*1+price_amount*0.07 | number}}</label>
                </p>
                <p>
                    <label>Сумма: {{deal_amount*1*(price_amount*1+price_amount*0.07) | number}}</label>
                </p>
                <p>
                    <input class="w3-btn w3-teal" type="submit" value="Купить">
                </p>
            </form>
        </div>

        <% if (deals.dt1.length) {  %>
        <h5>Ордера продажи <%= curr[deals.curr1] %></h5>
        <table class="w3-table-all w3-hoverable w3-card-4" ng-controller="MainCtrl">
            <tr class="w3-green">
                <th>Цена (<%= curr[deals.curr2] %>)</th>
                <th>Кол-во (<%= curr[deals.curr1] %>)</th>
                <th>Сумма</th>
            </tr>
            <tr ng-repeat="dt in dt1" ng-click="setSelected();">
                <td>{{ dt.name }}</td>
                <td>{{ dt.deal_am }}</td>
                <td>{{ dt.sm }}</td>
            </tr>
        </table>
        <% } %>
    </div>
    <!-- Right Column -->
    <div class="w3-col s6">
        <div class="w3-card-4">
            <div class="w3-container w3-teal">
                <h5>Продать</h5>
            </div>
            <form action="/createdeal" method="post" class="w3-container">
                <input type="hidden" name="class" value="0">
                <p>
                    <input class="w3-input" type="number" value="0.0" pattern="[\d+(\.\d{2})?]" step="any" name="deal_amount" required ng-model="deal_amount">
                    <input type="hidden" name="deal_currency" value="currPrizm">
                    <label>Кол-во: {{deal_amount}}</label>
                </p>
                <p>
                    <input class="w3-input" type="text" name="price_amount" required ng-model="price_amount">
                    <input type="hidden" name="price_currency" value="currGold">
                    <label>Цена с комиссией: {{price_amount*1+price_amount*0.07 | number}}</label>
                </p>
                <p>
                    <label>Сумма: {{deal_amount*1*(price_amount*1+price_amount*0.07) | number}}</label>
                </p>
                <p>
                    <input class="w3-btn w3-teal" type="submit" value="Продать">
                </p>
            </form>
        </div>
        <% if (deals.dt2.length) { %>
        <h5>Ордера покупки <%= curr[deals.curr1] %></h5>
        <table class="w3-table-all w3-hoverable w3-card-4" ng-controller="Main2Ctrl">
            <tr class="w3-green">
                <th>Цена (<%= curr[deals.curr2] %>)</th>
                <th>Кол-во (<%= curr[deals.curr1] %>)</th>
                <th>Сумма</th>
            </tr>
            <tr ng-repeat="dt in dt2" ng-click="setSelected();">
                <td>{{ dt.name }}</td>
                <td>{{ dt.deal_am }}</td>
                <td>{{ dt.sm }}</td>
            </tr>
        </table>
        <% } %>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    let nm = {};
    myApp.controller('MainCtrl', function($scope) {
        $scope.dt1 = [];
        <% deals.dt1.forEach(function (name) { %>
        nm.name = <%= Math.round(name._id*10000)/10000 %>
            nm.deal_am = <%= name.deal_am %>
                nm.sm = <%= Math.round((Math.round(name._id*10000)/10000 * name.deal_am)* 10000000) / 10000000 %>
        $scope.dt1.push({name:nm.name, deal_am: nm.deal_am, sm: nm.sm})
        <%})%>
        $scope.setSelected = function() {
            $scope.selected = this.dt;
            console.log($scope.selected.name);
            this.dt.name = this.dt.name+1;
        };
    });
    myApp.controller('Main2Ctrl', function($scope) {
        $scope.dt2 = [];
        <% deals.dt2.forEach(function (name) { %>
        nm.name = <%= Math.round(name._id*10000)/10000 %>
            nm.deal_am = <%= name.deal_am %>
                nm.sm = <%= Math.round((Math.round(name._id*10000)/10000 * name.deal_am)* 10000000) / 10000000 %>
                    $scope.dt2.push({name:nm.name, deal_am: nm.deal_am, sm: nm.sm})
        <%})%>
        $scope.setSelected = function() {
            $scope.selected = this.dt;
            console.log($scope.selected.name);
            this.dt.name = this.dt.name+1;
        };
    });
    //]]>
</script>