<div class="nav">
    <ul>
        <li><a href="komissii.html">Комиссии</a></li>
        <li><a href="/userinfo">Отчеты</a></li>
        <li class="active"><a href="/profile/data">Профиль</a></li>
        <li><a href="/profile/query">Ввод-вывод</a></li>
        <li><a href="/">Главная</a></li>
    </ul>
</div>
<div class="container">
<div class="profile">
    <div class="title">ЗДРАВСТВУЙТЕ, <%= user.name_f%>!</div>
    <div class="form">
        <div class="blocks">
            <div class="one-block">
                <% if(user.vip){%>
                <div class="form-group"><span class="name">Статус</span><input class="value form-control" disabled type="text" value="VIP (включены льготные комиссии)"></div>
                <%} else  {%>
                <div class="form-group"><span class="name">Статус</span><input class="value form-control" disabled type="text" value="Простой"></div>
                <%}%>
                <div class="form-group"><span class="name">UID</span><input class="value form-control" disabled type="text" value="<%= user.UID%>"></div>
                <div class="form-group"><span class="name">Login</span><input class="value form-control" disabled type="text" value="<%= user.username%>"></div>
            </div>
            <div class="one-block">
                <div class="form-group"><span class="name">Имя пользователя</span><input class="value form-control" disabled type="text" value="<%= user.name_f%>"></div>
                <div class="form-group"><span class="name">Телефон</span><input class="value form-control" disabled type="text" value="<%= user.tel%>"></div>
                <div class="form-group"><span class="name">E-mail</span><input class="value form-control" disabled type="text" value="<%= user.email%>"></div>
            </div>
        </div>
        <div class="blocks">
            <% if(user.prizmaddress){%>
            <div class="parovoz disabled">
                <div class="form-group"><span class="name">Адрес в Паровозе</span><input class="value form-control" type="text" value="<%= user.prizmaddress%>"></div>
                <div class="form-group"><span class="name">Public Key</span><input class="value form-control" type="text" value="<%= user.publicKey%>"></div>

            </div>
            <%} else {%>
            <div class="parovoz disabled">
                <div class="checkbox-block">
                    <div class="checkbox">
                        <input id="check" type="checkbox">
                        <label for="check">Я в “Паравозе”</label>
                    </div>
                </div>
                <form action="/edituser" method="post">
                <div class="form-group"><span class="name">Адрес в Паровозе</span><input name="prizmaddress" class="value form-control" type="text" value=""></div>
                <div class="form-group"><span class="name">Public Key</span><input name="pubKey" class="value form-control" type="text" value=""></div>
                <div class="form-group"><button type="submit" class="btn active">ПОДТВЕРДИТЬ</button></div>
                </form>
            </div>
            <%}%>
            <div class="parovoz">ВНИМАНИЕ!<br> С 1 июня 2018 г вводятся льготы для участников "ПАРОВОЗА ПРИЗМ".

                Для того, чтобы воспользоваться льготой необходимо заполнить поля "адрес в ПАРОВОЗЕ ПРИЗМ".

                Адрес проверяется на принадлежность ПАРОВОЗУ.
                После заполнения, адрес невозможно изменить.
                После занесения адреса, вывод PRIZM будет возможен ТОЛЬКО на указанный кошелёк.
                Для вновь зарегистрированных участников льгота вводится через 4-5 дней после регистрации.
                Размер льгот посмотреть можно здесь</div>
        </div>
    </div>
</div>
</div>

<script>
    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    myApp.controller('w3BtnCtrl', function ($scope) {
        $scope.nm = 'one';
        $scope.btn = {'color':{'one':'w3-cyan','two':'w3-white','three':'w3-white' }};
        $scope.btnClick = function (nm) {
            $scope.nm = nm;
            $scope.btn = {'color':{'one':'w3-white','two':'w3-white','three':'w3-white' }};
            $scope.btn.color[nm] = 'w3-cyan';
        }
    });
    //]]>
</script>