
    <div class="nav">
        <ul>
            <li><a href="komissii.html">Комиссии</a></li>
            <li><a href="/userinfo">Отчеты</a></li>
            <li ><a href="/profile/data">Профиль</a></li>
            <li class="active"><a href="/getquery">Ввод-вывод</a></li>
            <li><a href="/">Главная</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="deposite">
            <div class="input">
                <div class="title">ПОПОЛНИТЬ ДЕПОЗИТ</div>
                <div class="blocks">
                    <div class="one-block">
                        <a href="#" class="system input-btn">
                            <img src="img/reserves/prizm2.png" width="44" height="39" alt="prizmex">
                            <p>PRIZM</p>
                        </a>
                    </div>
                    <div class="one-block">
                        <a href="#" class="system input-btn">
                            <img src="img/reserves/yad.png" width="34" height="40" alt="yad">
                            <p>ЯндексДеньги</p>
                        </a>
                        <a href="#" class="system input-btn">
                            <img src="img/reserves/qiwi.png" width="37" height="37" alt="qiwi">
                            <p>QIWI</p>
                        </a>
                        <a href="#" class="system input-btn">
                            <img src="img/reserves/sber.png" width="40" height="39" alt="sber">
                            <p>Сбербанк</p>
                        </a>
                    </div>
                    <div class="one-block">
                        <a href="#" class="system input-btn">
                            <img src="img/reserves/pm.png" width="41" height="40" alt="pm">
                            <p>Perfect Money</p>
                        </a>
                        <a href="#" class="system input-btn">
                            <img src="img/reserves/advcash.png" width="43" height="37" alt="advcash">
                            <p>AdvCash</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="cash">
                <div class="title">ВАШ БАЛАНС</div>
                <div class="blocks">
                    <div class="one-block">
                        <span>PRIZM</span> <div class="val">15</div><div><img src="img/deposite/prizm.png" alt=""></div>
                    </div>
                    <div class="one-block">
                        <span>RUB</span> <div class="val">15</div><div><img src="img/deposite/rub.png" alt=""></div>
                    </div>
                    <div class="one-block">
                        <span>USD</span> <div class="val">15</div><div><img src="img/deposite/usd.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="output">
                <div class="title">ВЫВОД СРЕДСТВ</div>
                <div class="blocks">
                    <div class="one-block">
                        <a href="#" class="system output-btn">
                            <img src="img/reserves/prizm2.png" width="44" height="39" alt="prizmex">
                            <p>PRIZM</p>
                        </a>
                    </div>
                    <div class="one-block">
                        <a href="#" class="system output-btn">
                            <img src="img/reserves/yad.png" width="34" height="40" alt="yad">
                            <p>ЯндексДеньги</p>
                        </a>
                        <a href="#" class="system output-btn">
                            <img src="img/reserves/qiwi.png" width="37" height="37" alt="qiwi">
                            <p>QIWI</p>
                        </a>
                        <a href="#" class="system output-btn">
                            <img src="img/reserves/sber.png" width="40" height="39" alt="sber">
                            <p>Сбербанк</p>
                        </a>
                    </div>
                    <div class="one-block">
                        <a href="#" class="system output-btn">
                            <img src="img/reserves/pm.png" width="41" height="40" alt="pm">
                            <p>Perfect Money</p>
                        </a>
                        <a href="#" class="system output-btn">
                            <img src="img/reserves/advcash.png" width="43" height="37" alt="advcash">
                            <p>AdvCash</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="output-form" style="display: none;">
            <div class="title">ВЫВОД СРЕДСТВ</div>
            <div class="line_black"></div>
            <div class="output-form-blocks">
                <div class="form">
                    <ul>
                        <li>Минимальная сумма к выводу<br>не менее 500 р.</li>
                        <li>Максимальная сумма за одну транзакцию<br>не более 50 000 р.</li>
                        <li>Вывод средств в течение 72 часов.</li>
                    </ul>
                    <form action="">
                        <div class="form-group"><span>Номер телефона QIWI</span><input class="form-control" type="text" value="+79999999999"></div>
                        <div class="form-group"><span>Отправить (RUB)</span><input class="form-control" type="text" value="100000.00"></div>
                        <div class="form-group"><span>К получению (RUB)</span><div class="value">95000.00</div></div>
                        <div class="form-group"><span>Комиссия 5% (RUB)</span><div class="value">5000.00</div></div>
                        <div class="checkbox-block">
                            <div class="checkbox">
                                <input id="check1" type="checkbox" checked>
                                <label for="check1">Согласен с условиями работы сервиса</label>
                            </div>
                        </div>
                        <div class="button"><button type="submit" class="btn active">Создать</button></div>
                    </form>
                </div>
                <div class="warning">
                    Я предупрежден о рисках Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate consequuntur vitae numquam facilis, praesentium molestias, inventore quia soluta modi quidem, aspernatur sit mollitia vero corrupti tempora minus? Alias omnis quam, repudiandae molestiae inventore. Saepe, et quibusdam iusto, laudantium autem nostrum reiciendis asperiores aperiam molestias illo voluptatem ipsam ipsa reprehenderit repellat quam perspiciatis eaque optio consectetur ipsum corporis distinctio! Mollitia praesentium corrupti blanditiis aut reiciendis vitae, rem quod. Commodi laboriosam itaque necessitatibus repudiandae ipsa nam minima, nesciunt quisquam blanditiis. Repellat doloribus totam, atque aut tempore. Ut cumque nemo asperiores voluptate, illum, repudiandae quidem, velit magni ullam dolor dolore, maxime sunt illo!
                </div>
            </div>
        </div>
        <div class="input-form" style="display: none;">
            <div class="title">ВВОД СРЕДСТВ НА ДЕПОЗИТ</div>
            <div class="line_black"></div>
            <div class="output-form-blocks">
                <div class="form">
                    <ul>
                        <li>Минимальная к пополнению не менее 500 р. Сбербанк не менее 1000 р.</li>
                        <li>Максимальная сумма за одну транзакцию<br>не более 50 000 р.</li>
                    </ul>
                    <form action="">
                        <div class="form-group"><span>Отправить (RUB)</span><input class="form-control" type="text" value="100000.00"></div>
                        <div class="form-group"><span>Будет зачислено (RUB)</span><input class="form-control" type="text" value="97000.00"></div>
                        <div class="form-group"><span>Комиссия 3% (RUB)</span><div class="value">3000.00</div></div>
                        <div class="checkbox-block">
                            <div class="checkbox">
                                <input id="check" type="checkbox" checked>
                                <label for="check">Согласен с условиями работы сервиса</label>
                            </div>
                        </div>
                        <div class="button"><button type="submit" class="btn active">Создать</button></div>
                    </form>
                </div>
                <div class="warning">
                    Я предупрежден о рисках Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate consequuntur vitae numquam facilis, praesentium molestias, inventore quia soluta modi quidem, aspernatur sit mollitia vero corrupti tempora minus? Alias omnis quam, repudiandae molestiae inventore. Saepe, et quibusdam iusto, laudantium autem nostrum reiciendis asperiores aperiam molestias illo voluptatem ipsam ipsa reprehenderit repellat quam perspiciatis eaque optio consectetur ipsum corporis distinctio! Mollitia praesentium corrupti blanditiis aut reiciendis vitae, rem quod. Commodi laboriosam itaque necessitatibus repudiandae ipsa nam minima, nesciunt quisquam blanditiis. Repellat doloribus totam, atque aut tempore. Ut cumque nemo asperiores voluptate, illum, repudiandae quidem, velit magni ullam dolor dolore, maxime sunt illo!
                </div>
            </div>
        </div>



<!--*********************************************************************************************************************-->
<div class="w3-panel" >

    <a href="/profile/data" class="w3-white w3-btn w3-border w3-border-green w3-round-xlarge">Профиль</a>
    <a href="/profile/finance" class="w3-white w3-btn w3-border w3-border-green w3-round-xlarge">Финансы</a>
    <a href="/profile/query" class="w3-cyan w3-btn w3-border w3-border-green w3-round-xlarge">Ввод/Вывод</a>
    <a href="/userinfo" class="w3-white w3-btn w3-border w3-border-green w3-round-xlarge">Сводный отчёт</a>
    <!-- <a href="/3;3" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge">Pzm/Slv</a> -->
    <% if(user.status > 2){%>

    <a href="/amd/querys" class=" w3-btn w3-border w3-border-green w3-round" >А</a>
    <%}%>
</div>

<div class="w3-row-padding w3-small">

    <div class="w3-col " ng-controller="CtrlQuerys">
        <div class="">
            <div class="w3-panel w3-sand">
                <p>Внимание: ЗАЯВКИ обрабатываются с 7.00 до 21.00 МСК</p>
            </div>

            <div class="w3-border">
                <div class="w3-container w3-teal">
                    <h5>Баланс</h5>
                </div>
                <form class="w3-container">
                    <p>
                        <span class="w3-input w3-border" ><%= user.PZM%></span>

                        <span class="w3-tag w3-orange"><a href="/api/q/req/true;1">пополнить</a></span>

                        <span class="w3-tag w3-green">PZM</span>

                        <span class="w3-tag w3-teal"><a href="/api/q/req/false;1">вывод средств</a></span>

                    </p>

                    <p>
                        <span class="w3-input w3-border" ><%= user.USD%></span>

                        <span class="w3-tag w3-orange"><a href="/api/q/req/true;2" >пополнить</a></span>
                        <span class="w3-tag w3-green">USD&nbsp;</span>
                        <span class="w3-tag w3-teal"><a href="/api/q/req/false;2" >вывод средств</a></span>

                    </p>

                    <p>
                        <span class="w3-input w3-border" ><%= user.RUR%></span>

                        <span class="w3-tag w3-orange"><a href="/api/q/req/true;3" >пополнить</a></span>
                        <span class="w3-tag w3-green">RUR&nbsp;</span>
                        <span class="w3-tag w3-teal"><a href="/api/q/req/false;3" >вывод средств</a></span>
                    </p>

                </form>
            </div>



            <div class="w3-container w3-teal">
                <h5>Мои запросы</h5>
            </div>
            <% if(user.querys.length>0) {%>
            <table class="w3-table-all w3-small w3-striped w3-hoverable">
                <tr  class="w3-green">
                    <th class="w3-border-left"></th>
                    <th>Валюта</th>
                    <th class="w3-border-left">Тип</th>
                    <th class="w3-border-left">Кол.</th>
                    <th class="w3-border-left">Зачислено/Получено</th>
                    <th class="w3-border-left">Банк</th>
                    <th class="w3-border-left">Код</th>
                    <th class="w3-border-left">Номер счета</th>
                    <th class="w3-border-left">Дата</th>
                    <th class="w3-border-left">Комментарий</th>
                    <th class="w3-border-left"></th>

                </tr>

                <tr ng-repeat="dt in qqq" ng-click="setSelected();">
                    <td class="w3-border-left {{ dt.color2 }}">
                        <div ng-switch="{{ dt.status }}">
                            <div ng-switch-when="0">
                  <span class="w3-button w3-black"><a href="{{dt.confirm}}">подтвердить</a>
                            </div>
                            <div ng-switch-when="1">
                                <span>в обработке</span>
                            </div>
                            <div ng-switch-when="3">
                                <span>исполнен</span>
                            </div>
                            <div ng-switch-when="4">
                                <span>отменен</span>
                            </div>
                            <div ng-switch-when="5">
                                <span>отменен Адм.</span>
                            </div>
                        </div>
                    </td>
                    <td>{{ dt.currency }}</td>
                    <td class="{{ dt.color }}">{{ dt.typ }}</td>
                    <td class="w3-border-left">{{ dt.amount }}</td>
                    <td class="w3-border-left">{{ dt.amount2 }}</td>
                    <td class="w3-border-left">{{ dt.bank_name }}</td>
                    <td class="w3-border-left">{{ dt.cod }}</td>
                    <td class="w3-border-left">{{ dt.bank_number }}</td>
                    <td class="w3-border-left">{{ dt.dat }}</td>
                    <td class="w3-border-left">{{ dt.comments }}</td>
                    <td class="w3-border-left {{ dt.color2 }}">
                        <div ng-switch="{{ dt.status }}">
                            <div ng-switch-when="0">
                                <span> <a href="{{dt.cancel}}">отменить</a></span>
                            </div>
                        </div>
                    </td>

                </tr>

            </table>
            <%}%>
        </div>
    </div>
</div>

<script>
    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    let dl = {};
    let bl = {};
    let qq={};
    let i = 0;
    let glub_buy = 0;
    let glub_sell = 0;
    let minPrice = 0;
    let maxPrice = 0;
    const bs=['продажа','покупка'];
    const clors=['w3-orange','w3-cyan','w3-gray','w3-brown','w3-gray','','','','','w3-gray'];
    const Curr = ['','PZM','USD','RUR'];
    const w3Btn = [[],['','','w3-white', 'w3-white'],['','w3-white','','w3-white'],['','w3-white','w3-white','']];
    const typ = ['Вывод','Ввод','Отправить','Получить'];

    myApp.controller('w3BtnCtrl', function ($scope) {
        $scope.nm = 'one';
        $scope.btn = {'color':{'one':'w3-cyan','two':'w3-white','three':'w3-white' }};
        $scope.btnClick = function (nm) {
            $scope.nm = nm;
            $scope.btn = {'color':{'one':'w3-white','two':'w3-white','three':'w3-white' }};
            $scope.btn.color[nm] = 'w3-cyan';
        }
    });

    myApp.controller('CtrlQuerys', function ($scope) {
        $scope.qqq=[];

        <% user.querys.forEach(function (query) {%>
        qq={};
        qq.currency = Curr[<%= query.currency%>];
        qq.typ = typ[<%= query.class%>];
        qq.color = clors[<%= query.class%>];
        qq.color2 = clors[<%= query.status%>];
        qq.amount = <%= query.amount%>;
        qq.amount2 = <%= Math.round((query.amount - query.commission_summ)*100)/100 %>;
        qq.bank_name = '<%= query.bank_name%>';
        qq.cod = '<%= query.cod%>';
        qq.bank_number = '<%= query.bank_number%>';
        qq.status = <%= query.status%>;
        qq.comments = '<%= query.comments%>';
        qq.confirm = '/api/q/res/<%= query._id %>;confirm';
        qq.cancel = '/api/q/res/<%= query._id %>;cancel';
        qq.dat = TimeMsk('<%= query.createdAt %>');

        $scope.qqq.push(qq);
        <%})%>


        $scope.setSelected = function () {

        }
    });

    myApp.controller('CtrlDeals', function($scope) {
        $scope.dt1 = [];
        $scope.minPrice = minPrice;
        $scope.commission_buy = 0;
        $scope.data = {disabled_buy: true};
        i=0;
        <% user.deals.forEach(function (deal) { %>
        dl={};
        dl.cans = '/api/q/deal/<%= deal._id %>;cancel';
        dl.deal_currency = Curr[<%= deal.deal_currency%>];
        dl.price_currency = Curr[<%= deal.price_currency%>];
        dl.typ = bs[<%= deal.class %>];
        dl.color = clors[<%= deal.class%>];
        dl.deal_amount = <%= deal.deal_amount%>;
        dl.deal_amount_bill = <%= deal.deal_amount_bill%>;
        dl.price_amount = <%= deal.price_amount%>;
        dl.summ = <%= Math.round(deal.deal_amount*deal.price_amount*100)/100 %>;

        dl.dat = TimeMsk('<%= deal.createdAt%>');
        //console.log(dl.dat);
        dl.status = <%= deal.status %>;
        dl.color2 = clors[<%= deal.status%>];
        dl.i = i;

        $scope.dt1.push(dl);
        i++;
        <%})%>

        $scope.setSelected = function() {

        }
    });

    myApp.controller('CtrlBills', function ($scope) {
        $scope.dt3 = [];
        i=0;
        <% user.bills.forEach(function (bill) { %>
        bl={};
        bl.deal_currency = Curr[<%= bill.deal_currency%>];
        bl.price_currency = Curr[<%= bill.price_currency%>];
        bl.typ = bs[<%= bill.class %>];
        bl.color = clors[<%= bill.class%>];
        bl.deal_amount = <%= bill.deal_amount%>;
        bl.price_amount = <%= bill.price_amount%>;
        bl.summ = <%= Math.round(bill.deal_amount*bill.price_amount*100)/100 %>;

        bl.dat = TimeMsk('<%= bill.createdAt%>');
        bl.status = <%= bill.status %>;
        bl.color2 = clors[<%= bill.status%>];
        bl.i = i;

        $scope.dt3.push(bl);
        i++;

        <% })%>
        $scope.setSelected = function() {

        }

    });

    //]]>
</script>