<div class="w3-panel"></div>

<div class="w3-row-padding" ng-app="myApp">
    <!-- Left Column -->
    <div class="w3-col s6" ng-controller="MainCtrl">
        <div class="w3-card-4">
            <div class="w3-container {{ colorHead }}">
                <h5>ОТМЕНА запроса</h5>
            </div>
            <% const url = '/api/q/res/'+qq._id+';cancelamd' %>
            <form action="<%= url %>" method="post" class="w3-container">
                <input hidden name="q_ID" value="<%= qq._id%>">

                <div ng-switch="{{ qqClass }}">

                    <div ng-switch-when="1">
                        <div class="w3-panel w3-light-grey">
                            <p class="w3-xlarge w3-serif">
                                Отмена пополнения <%= qq.bank_name%><br>
                                <%= qq.bank_number%>
                            </p>
                            <p>
                                <span class="w3-tag w3-green"><%= qq.amount %>&nbsp;<%= qq.currency_name%></span>
                            </p>
                            <p>Код операции <br>
                            <h3><%= qq.cod %></h3>
                            </p>
                        </div>
                    </div>

                    <div ng-switch-when="0">
                        <div class="w3-panel w3-light-grey">
                            <p class="w3-xlarge w3-serif">
                                Отмена вывода средств на <%= qq.bank_name%><br>
                                <%= qq.bank_number%>
                            </p>
                            <p>
                                <span class="w3-tag w3-green"><%= qq.amount-qq.commission_summ %>&nbsp;<%= qq.currency_name%></span>
                            </p>
                            <p>
                                <span class="w3-input w3-border">
                                    <input type="checkbox" name="no_balance" ng-model="no_balance">
                                    <span ng-hide="no_balance" class="w3-tag w3-green">ОТМЕНА ЗАЧИСЛЕНИЯ В БАЛАНС ПОЛЬЗОВАТЕЛЮ!!!</span>
                                    <span ng-show="no_balance" class="w3-tag w3-red">ОТМЕНА ЗАЧИСЛЕНИЯ В БАЛАНС ПОЛЬЗОВАТЕЛЮ!!!</span>
                                </span>

                            </p>
                        </div>
                    </div>
                </div>
                <p>
                    <span class="w3-input w3-border">
                        <input name="comments" value="" class="w3-input w3-border">
                    </span>
                    <span class="w3-tag w3-green">Комментарий виден пользователю!!!</span>
                </p>
                <p>
                    <input class="w3-btn w3-teal" type="submit" value="Подтвердить">
                </p>
            </form>

        </div>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    let nm = {};
    const Curr = ['','PZM','USD','RUR'];
    const Colors = ['w3-orange','w3-cyan'];
    myApp.controller('MainCtrl', function($scope) {
        $scope.qqClass = <%= qq.class %>;
        $scope.colorHead = Colors[<%= qq.class %>];    // 1 - пополнение баланса, 0-Вывод средств

    });
    //]]>
</script>