<div class="w3-panel"></div>

<div class="w3-row-padding" ng-app="myApp">
    <!-- Left Column -->
    <div class="w3-col s6" ng-controller="MainCtrl">
        <div class="w3-card-4">
            <div class="w3-container {{ colorHead }}">
                <h5>Подтверждение запроса</h5>
            </div>
            <% const url = '/api/q/res/'+qq._id+';execut' %>
            <form action="<%= url %>" method="post" class="w3-container">
                <input hidden name="q_ID" value="<%= qq._id%>">

                <div ng-switch="{{ qqClass }}">

                    <div ng-switch-when="1">
                        <div class="w3-panel w3-light-grey">
                            <p class="w3-xlarge w3-serif">
                                Получено на <%= qq.bank_name%><br>
                                <%= qq.bank_number%>
                            </p>
                            <p>
                                <span class="w3-tag w3-green"><%= qq.amount %>&nbsp;<%= qq.currency_name%></span>
                            </p>
                            <p>Код операции <br>
                            <h3><%= qq.cod %></h3>
                            </p>
                        </div>
                    </div>

                    <div ng-switch-when="0">
                        <div class="w3-panel w3-light-grey">
                            <p class="w3-xlarge w3-serif">
                                Отправлено на <%= qq.bank_name%><br>
                                <%= qq.bank_number%>
                            </p>
                            <p>
                                <span class="w3-tag w3-green"><%= qq.amount-qq.commission_summ %>&nbsp;<%= qq.currency_name%></span>
                            </p>
                            <p><%- qq.comment %></p>
                        </div>
                    </div>
                </div>

                <p>
                    <input class="w3-btn w3-teal" type="submit" value="Подтвердить">
                </p>
            </form>

        </div>
    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    let nm = {};
    const Curr = ['','PZM','USD','RUR'];
    const Colors = ['w3-orange','w3-cyan'];
    myApp.controller('MainCtrl', function($scope) {
        $scope.qqClass = <%= qq.class %>;
        $scope.colorHead = Colors[<%= qq.class %>];    // 1 - пополнение баланса, 0-Вывод средств

    });
    //]]>
</script>