<% const curr = ['','PZM','USD','RUR']; %>
<div class="w3-panel"></div>
<div class="w3-row-padding" ng-app="myApp">
    <!-- Left Column -->
    <div class="w3-col s6" ng-controller="MainCtrl">
        <div class="w3-card-4">
            <div class="w3-container w3-teal">
                <h5>Вывод средств</h5>
            </div>
            <form action="/api/q/req/dec_prizm" method="post" class="w3-container">
                <div class="w3-panel w3-card-4 w3-pale-yellow">
                    <p class=" w3-large w3-serif">
                    <ul>
                        <li>
                            Минимальная сумма к выводу не менее 5 pzm.
                        </li>
                        <%if(user.vip){%>
                            <li>
                                Невозможно изменить кошелек вывода
                            </li>
                        <%}%>
                    </ul>
                    </p>
                </div>
                <input type="hidden" name="class" value="0">
                <p>
                    <span class="w3-tag w3-green"><%= curr[inc.curr] %></span>
                    <input class="w3-input" type="number" value="0" step="any" min="5" name="deal_amount" required ng-model="deal_amount_sell_rub" ng-change="change_sell_rub()">
                    <input type="hidden" name="deal_currency" value="{{ curr1 }}">
                </p>
                <p>
                    <span class="w3-tag w3-green">К получению: <%= curr[inc.curr] %></span>
                    <input ng-disabled="true" class="w3-input" type="number" value="0" step="any" name="price_amount" required ng-model="deal_amount_sell_curr" ng-change="change_sell_curr()">
                    <input type="hidden" name="curr_cod" value="{{ curr_cod }}">
                </p>
                <p>
                    <label class="w3-tag w3-green">Комиcсия Pzm:</label>
                    <input class="w3-input w3-text-yellow" ng-disabled="true" type="text" name="commiss_sell" value="{{commission_sell | number:2}}">
                </p>
                <p>
                    <input class="w3-radio" type="radio" name="bank_cod" value="0" checked>
                    <label>PRIZM</label>
                </p>
                <%if(user.vip){%>
                    <p>
                        <span class="w3-tag w3-green">Номер кошелька:</span>
                        <input ng-disabled="true" class="w3-input" type="text" name="bank_number" required value="<%= user.prizmaddress%>">
                        <label>в формате PRIZM-ХХХХ-ХХХХ-XXXХ-ХХХХ</label>
                    </p>
                    <p>
                        <span class="w3-tag w3-green">Публичный ключ (Public key):</span>

                        <input ng-disabled="true" class="w3-input" type="text" name="bank_publicKey" required value="<%= user.publicKey%>">
                    </p>
                <%} else {%>
                    <p>
                        <span class="w3-tag w3-green">Номер кошелька:</span>
                        <input class="w3-input" type="text" name="bank_number" required >
                        <label>в формате PRIZM-ХХХХ-ХХХХ-XXXХ-ХХХХ</label>
                    </p>
                    <p>
                        <span class="w3-tag w3-green">Публичный ключ (Public key):</span>
                        <input class="w3-input" type="text" name="bank_publicKey" required >
                    </p>
                <%}%>

                <p>
                    <input type="checkbox" name="check_TermsOfService" ng-model="data.disabled">
                    <label class="w3-text-yellow" >* Согласен с условиями работы сервиса</label>
                </p>
                <p>
                    <input class="w3-btn w3-teal" type="submit" value="Создать" ng-disabled="!data.disabled">
                </p>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    let nm = {};
    let tax = [<%= inc.tax %>];
    let tax_current = tax[0];
    let tax_summ = 0.05;
    let tax_summ_current = 0;
    let tax_summ_all = 0;
    const Curr = ['','PZM','USD','RUR'];
    myApp.controller('MainCtrl', function($scope) {
        $scope.curr1 = Curr[<%= inc.curr %>];
        $scope.curr_cod = <%= inc.curr %>;
        $scope.dt1 = [];
        $scope.commission_sell = 0;
        $scope.change_sell_rub = function () {
            if(Number($scope.deal_amount_sell_rub) > 10){
                tax_summ = Math.round(Number($scope.deal_amount_sell_rub)*0.5)/100;
                if(tax_summ>10){
                    tax_summ = 10;
                }
            }
            tax_summ_current = Math.round((Number($scope.deal_amount_sell_rub)*tax_current/100)*100)/100;
            tax_summ_all = Math.round((tax_summ + tax_summ_current)*100)/100;
            console.log('tax_summ_current = '+tax_summ_current);
            console.log('tax_summ = '+tax_summ);
            $scope.commission_sell = tax_summ_all;
            $scope.deal_amount_sell_curr = Math.round((Number($scope.deal_amount_sell_rub)- tax_summ_all)*100)/100;
        };
        $scope.change_sell_curr = function () {
            $scope.deal_amount_sell_rub = Math.round((Number($scope.deal_amount_sell_curr)+ Number($scope.deal_amount_sell_curr)*tax_current/100));
            $scope.commission_sell = Math.round(Number($scope.deal_amount_sell_curr)*tax_current/100);
        };
    });
    //]]>
</script>