<div class="w3-panel"></div>

<div class="w3-row-padding" ng-app="myApp">
  <!-- Left Column -->
  <div class="w3-col s12" ng-controller="MainCtrl">

      <% const url = '/api/q/res/'+qq._id+';confirm' %>
        <% const url2 = '/api/q/res/'+qq._id+';cancel' %>
      <% const curr = ['','призм','долларов','руб.']; %>

      <% if(qq.class == 1){%>
    <div class="w3-col s6 w3-container">
    <div class="w3-card-4">
      <div class="w3-container w3-teal">
        <h5>Подтверждение запроса</h5>
      </div>
      <form action="<%= url %>" method="post" class="w3-container">
        <input hidden name="q_ID" value="<%= qq._id%>">
        <h3>
          <% if(qq.bank_cod == 0){%>
            <img src="<%= qq.qrCode%>">
          <%}%>
          <p>
            <% if(qq.bank_cod == 3){%>
              Переведите <%= qq.amount %> <%= curr[qq.currency] %> на номер карты <%= qq.bank_name%> :
            <%} else {%>
              Переведите <%= qq.amount %> <%= curr[qq.currency] %> на номер <%= qq.bank_name%> :
            <%}%>
            <br> <%= qq.bank_number %>
            <% if(qq.bank_cod == 0){%>
            <br><span>Public key: </span>
            <br><span class="w3-small"><%= qq.bank_publicKey%></span>
            <%}%>
          </p>
          <p>
            <b>Внимание:</b><br>
            В комментарии к переводу вставьте номер(код):<br>
            <h2><b><%= qq.cod %></b></h2>
          </p>
        </h3>
        <p>
          <input class="w3-btn w3-teal" type="submit" value="ДА, Я ВЫПОЛНИЛ ПЕРЕВОД">
          <div class="w3-right-align"><span><a href="<%= url2 %>">отменить</a> </span></div>
        </p>
        <p>
          <span >Отмена через {{ counter }} сек.</span>
        </p>
      </form>
    </div>
    </div>
      <% if(qq.bank_cod == 0){%>
        <div class="w3-col s6 w3-container">
          <div class="w3-card-4">
          <div class="w3-container w3-teal">
            <h5>Инструкция</h5>
          </div>
          <ul>
            <li>
              Вы можете отправить средства по QR коду - это позволит избежать ошибок. Автоматически заполнится имя, паблик, сумма и комментарий. Пользуйтесь приложением для Andoid "PRIZM WALLET"
            </li>
            <li>
              Зайдите в ваш кабинет PRIZM.
            </li>
            <li>
              Отправьте указанное количество монет до копеек на указанный кошелек, обязательно добавьте комментарий.
            </li>
            <li>
              После прохождения операции в кошельке - монеты с вашего кошелька спишутся и вам начислиться парамайнинг - это занимает около 2 минут - нажмите кнопку "ДА, Я ВЫПОЛНИЛ ПЕРЕВОД"
            </li>
            <li>
              Если вы передумали делать перевод: нажмите кнопку ОТМЕНИТЬ (внизу справа)
            </li>
            <li>
              Если вы случайно закрыли окно или более 5 минут совершали перевод, то операция отменится автоматический - создайте новую операцию.
            </li>
          </ul>
        </div>
        </div>
        <%}%>
      <% if(qq.bank_cod == 4 || qq.bank_cod == 5 || qq.bank_cod == 6){%>
    <div class="w3-col s6 w3-container">
      <div class="w3-card-4">
        <div class="w3-container w3-teal">
          <h5>Инструкция</h5>
        </div>
        <ul>
          <li>
            Зайдите в Ваш кабинет <%= qq.bank_name %>.
          </li>
          <li>
            Отправьте указанное количество долларов до центов на указанный адрес.
          </li>
          <li>
            Обязательно добавьте комментарий с указанным КОДОМ.
          </li>
          <li>
            После прохождения операции нажмите кнопку "ДА, Я ВЫПОЛНИЛ ПЕРЕВОД"
          </li>
          <li>
            Если вы передумали делать перевод: нажмите кнопку ОТМЕНИТЬ (внизу справа)
          </li>
          <li>
            Если вы случайно закрыли окно или более 10 минут совершали перевод, то операция отменится автоматический - создайте новую операцию.
          </li>
        </ul>
      </div>
    </div>
      <%}%>


      <%} else {%>

      <div class="w3-card-4">
        <div class="w3-container w3-teal">
          <h5>Подтверждение запроса</h5>
        </div>
      <form action="<%= url %>" method="post" class="w3-container">
        <input hidden name="q_ID" value="<%= qq._id%>">
        <h3>
          <p>
            Подтвердите вывод средств <%= qq.amount %> <%= curr[qq.currency] %> на номер <%= qq.bank_name%> :
            <br> <%= qq.bank_number %>
              <% if(qq.bank_cod == 0){%>
            <br><span>Public key: </span>
            <br><span><%= qq.bank_publicKey%></span>
              <%}%>
          </p>
        </h3>
        <p>
          <input class="w3-btn w3-teal" type="submit" value="Подтвердить">
        <div class="w3-right-align"><span><a href="<%= url2 %>">отменить</a> </span></div>
        </p>
        <p>
          <span >Отмена через {{ counter }} сек.</span>
        </p>
      </form>
      </div>
      <%}%>

  </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    myApp.controller('MainCtrl', function($scope, $timeout) {
        $scope.counter = 0;
        let i = 0;
        let updateCounter = function() {
            $scope.counter = 600 - i;
            i++;
            if (i >= 600) {

            }
            $timeout(updateCounter, 1000);
        };
        updateCounter();
    });
    //]]>
</script>