<div class="w3-panel"></div>

<div class="w3-row-padding" ng-app="myApp">
  <!-- Left Column -->
  <div class="w3-col s6" ng-controller="MainCtrl">
    <div class="w3-card-4">
      <div class="w3-container w3-teal">
        <h5>Подтверждение запроса</h5>
      </div>
      <% const url = '/api/q/res/'+qq._id+';confirm' %>
        <% const url2 = '/api/q/res/'+qq._id+';cancel' %>
      <form action="<%= url %>" method="post" class="w3-container">
        <input hidden name="q_ID" value="<%= qq._id%>">
          <p class="w3-xlarge w3-serif">
            Поддтвердите перевод суммы
          </p>
          <p>
            <span class="w3-tag w3-green"><%= qq.currency_name%></span>
            <span class="w3-input w3-border" ><%= qq.amount %></span>
          </p>
          <p>
            на номер:
          </p>
          <p>
            <span class="w3-tag w3-green"><%= qq.bank_name%></span>
            <span class="w3-input w3-border" ><%= qq.bank_number %></span>
          </p>
          <p>
            <span class="w3-tag w3-red">В комментарии к переводу вставьте КОД:</span>

            <h3><b><span class="w3-input w3-border" ><%= qq.cod %></span></b></h3>
          </p>

        <p>
          <input class="w3-btn w3-teal" type="submit" value="Подтвердить">
          <div class="w3-right-align"><span><a href="<%= url2 %>">отменить</a> </span></div>
        </p>
        <p>
          <span >Отмена через {{ counter }} сек.</span>
        </p>
      </form>

    </div>
  </div>
</div>

<script type="text/javascript">
    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    myApp.controller('MainCtrl', function($scope, $timeout) {
        $scope.counter = 0;
        let i = 0;
        let updateCounter = function() {
            $scope.counter = 600 - i;
            i++;
            if (i == 600) {
                window.location.href='<%= url2 %>';
            }
            $timeout(updateCounter, 1000);
        };
        updateCounter();
    });
    //]]>
</script>