<!DOCTYPE html>
<html>
<title>PrizmEx: <%= title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
<body class="w3-light-grey ng-scope" ng-app="myApp">

<div class="w3-content w3-margin-top" style="max-width:1400px;">
    <%- include('includes/header') -%>
  <div class="w3-panel">
    <b>Баланс: </b>
      <span>Prizm: </span>
      <label class="w3-border"><%= user.currPrizm%></label>
      <span>Gold: </span>
      <label class="w3-border"><%= user.currGold%></label>
      <span>Silver: </span>
      <label class="w3-border"><%= user.currSilver%></label>
  </div>
  <div class="w3-row-padding">

    <div class="w3-col s6" >
      <div class="w3-card-4" ng-controller="userBillsCtrl">

      </div>
    </div>

<div class="w3-col s6" >
  <div class="w3-card-4" ng-controller="userDealsCtrl">

  </div>
</div>



  </div>
  <div class="w3-panel">
  </div>
    <%- include('includes/footer') -%>
</div>

</body>
</html>
