<!DOCTYPE html>
<html>
<title>PrizmEx: <%= title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
<body class="w3-light-grey ng-scope" ng-app="myApp">

<div class="w3-content w3-margin-top" style="max-width:1400px;">
    <%- include('includes/header') -%>
  <div class="w3-bar w3-border w3-light-grey">
    <a href="#" class="w3-bar-item ">Link 1</a>
    <a href="#" class="w3-bar-item ">Link 2</a>
    <a href="#" class="w3-bar-item ">Link 3</a>
  </div>

  <div class="w3-panel">
    <b>Баланс: </b>
      <span>Prizm: </span>
      <label class="w3-border"><%= user.currPrizm%></label>
      <span>Gold: </span>
      <label class="w3-border"><%= user.currGold%></label>
      <span>Silver: </span>
      <label class="w3-border"><%= user.currSilver%></label>
  </div>

  <div class="w3-row-padding w3-small">

      <div class="w3-col m2">
        <div class="w3-border-left">
        <div class="w3-container w3-teal">
          <h5>Личные данные</h5>
        </div>
          <form action="/profile" method="post" class="w3-container">
            <p>
              <span class="w3-input w3-border" ><%= user.username%></span>
              <span class="w3-tag w3-green">Login</span>
            </p>
            <p>
              <input class="w3-input w3-border" value="<%= user.name_f%>" name="name_f">
              <span class="w3-tag w3-green">Имя пользователя</span>
            </p>
            <p>
              <span class="w3-input w3-border" ><%= user.email%><% if(user.email_confirmed){%>
                <span class="w3-badge w3-green">&nbsp;</span>
                  <%} else {%>
                <span class="w3-badge w3-red">&nbsp;</span>
                  <%}%>
              </span>
              <span class="w3-tag w3-green">e-mail</span>
            </p>
            <p>
              <input class="w3-input w3-border" value="<%= user.prizmaddress%>" name="prizmaddress">

              <span class="w3-tag w3-green">Адрес Prizm</span>
            </p>
            <p>
              <input class="w3-btn w3-teal" type="submit" value="Сохранить">
            </p>
          </form>

        </div>
      </div>

      <div class="w3-col m2">
        <div class="w3-border-left">
          <div class="w3-container w3-teal">
            <h5>Баланс</h5>
          </div>
          <form class="w3-container">
            <p>
              <span class="w3-input w3-border" ><%= user.currPrizm%></span>
              <span class="w3-tag w3-green">Prizm&nbsp;</span>
              <a href="/api/q/req/true;1" class="w3-button w3-tiny w3-tag w3-red">+</a><a href="/api/q/req/false;1" class="w3-button w3-tiny  w3-tag w3-teal">-</a>
            </p>
            <p>
              <span class="w3-input w3-border" ><%= user.currGold%></span>
              <span class="w3-tag w3-green">Gold&nbsp;&nbsp;&nbsp;</span>
              <a href="/api/q/req/true;2" class="w3-button w3-tiny  w3-tag w3-red" ng-desabled="true">+</a><a href="/api/q/req/false;2" class="w3-button w3-tiny  w3-tag w3-teal">-</a>
            </p>
            <p>
              <span class="w3-input w3-border" ><%= user.currSilver%></span>
              <span class="w3-tag w3-green">Silver&nbsp;</span>
              <a href="/api/q/req/true;3" class="w3-button w3-tiny  w3-tag w3-red">+</a><a href="/api/q/req/false;3" class="w3-button w3-tiny  w3-tag w3-teal">-</a>
            </p>
            <p>

            </p>
          </form>
        </div>

      </div>
    <% let currs=['','Pzm','Gld','Slv'];
        let bs=['sell','buy'];
        let clors=['w3-orange','w3-green'];
    %>
    <div class="w3-col m4" >
      <div class="w3-border-left">
        <div class="w3-container w3-teal">
          <h5>Счета</h5>
        </div>
        <% if(user.bills.length>0) {%>
        <table class="w3-table w3-table-all w3-small w3-striped w3-bordered">
          <tr>
            <th>Пара</th>
            <th>Тип</th>
            <th>Кол.</th>
            <th>Цена</th>
            <th>Сумма</th>
            <th>Дата</th>
          </tr>
          <% for(var i=0, len=user.bills.length; i<len; i++){%>
            <tr>
              <td><%= currs[user.bills[i].deal_currency]%>/<%= currs[user.bills[i].price_currency]%></td>
              <td class="<%= clors[user.bills[i].class]%>"><%= bs[user.bills[i].class] %></td>
              <td><%= user.bills[i].deal_amount%></td>
              <td><%= user.bills[i].price_amount%></td>
              <td><%= user.bills[i].summ%></td>
              <td><%= new Date(user.bills[i].createdAt).toISOString().replace(/T/, ' ').replace(/\..+/, ''); %></td>
            </tr>
          <%}%>
        </table>
        <%}%>
      </div>
    </div>

    <div class="w3-col m4" >
      <div class="w3-border-left">
        <div class="w3-container w3-teal">
          <h5>Ордера</h5>
        </div>
          <% if(user.deals.length>0) {%>
        <table class="w3-table w3-table-all w3-small w3-striped w3-bordered">
          <tr>
            <th>Пара</th>
            <th>Тип</th>
            <th>Кол.</th>
            <th>Цена</th>
            <th>Сумма</th>
            <th>Дата</th>
          </tr>
            <% for(var y=0, leny=user.deals.length; y<leny; y++){%>
          <tr>
            <td><%= currs[user.deals[y].deal_currency]%>/<%= currs[user.deals[y].price_currency]%></td>
            <td class="<%= clors[user.deals[y].class]%>"><%= bs[user.deals[y].class] %></td>
            <td><%= user.deals[y].deal_amount%><span class="w3-small">(<%= user.deals[y].deal_amount_bill%>)</span></td>
            <td><%= user.deals[y].price_amount%></td>
            <td><%= Math.round(user.deals[y].deal_amount*user.deals[y].price_amount*10000)/10000%></td>
            <td><%= new Date(user.deals[y].createdAt).toISOString().replace(/T/, ' ').replace(/\..+/, ''); %></td>
          </tr>
            <%}%>
        </table>
          <%}%>
      </div>
    </div>



  </div>
  <div class="w3-panel">
  </div>
    <%- include('includes/footer') -%>
</div>
<script>
    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    //]]>
</script>
</body>
</html>
