<!DOCTYPE html>
<html>
<title>PrizmEx: <%= title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
<body class="w3-light-grey ng-scope" ng-app="myApp">

<% let currs=['','PZM','USD','RUR'];
let bs=['продажа','покупка'];
let clors=['w3-orange','w3-cyan'];
%>

<div class="w3-content w3-margin-top" style="max-width:1400px;" ng-controller="w3BtnCtrl">
    <%- include('includes/header') -%>
  <div class="w3-panel" >

    <a href="#" class="{{ btn.color.one }} w3-btn w3-border w3-border-green w3-round-xlarge" ng-click="btnClick('one')">Мои данные</a>
    <a href="#" class="{{ btn.color.two }} w3-btn w3-border w3-border-green w3-round-xlarge" ng-click="btnClick('two')">Финансы</a>
    <a href="#" class="{{ btn.color.three }} w3-btn w3-border w3-border-green w3-round-xlarge" ng-click="btnClick('three')">Запросы</a>
    <!-- <a href="/3;3" class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge">Pzm/Slv</a> -->

  </div>

<div ng-switch="nm">

  <div class="w3-row-padding w3-small" ng-switch-when="one">
      <div class="w3-col m3">
        <div class="w3-border">
        <div class="w3-container w3-teal">
          <h5>Личные данные</h5>
        </div>
          <form action="/profile" method="post" class="w3-container">
            <p>
              <span class="w3-input w3-border" ><%= user.username%></span>
              <span class="w3-tag w3-green">Login</span>
            </p>
            <p>
              <span class="w3-input w3-border"><%= user.name_f%></span>
              <span class="w3-tag w3-green">Имя пользователя</span>
            </p>
            <p>
              <span class="w3-input w3-border" ><%= user.email%><% if(user.email_confirmed){%>
                <span class="w3-badge w3-green">&nbsp;</span>
                  <%} else {%>
                <span class="w3-badge w3-red">&nbsp;</span>
                  <%}%>
              </span>
              <span class="w3-tag w3-green">e-mail</span>
            </p>

          </form>

        </div>
      </div>

      <div class="w3-col m3">
        <div class="w3-border">
          <div class="w3-container w3-teal">
            <h5>Баланс</h5>
          </div>
          <form class="w3-container">
            <p>
              <span class="w3-input w3-border" ><%= user.PZM%></span>
              <span class="w3-tag w3-green">PZM</span>
              <span class="w3-tag w3-orange"><a href="/api/q/req/true;1" >добав.</a></span>
              <span class="w3-tag w3-teal"><a href="/api/q/req/false;1" >вывод</a></span>
            </p>
            <p>
              <span class="w3-input w3-border" ><%= user.USD%></span>
              <span class="w3-tag w3-green">USD&nbsp;</span>
              <span class="w3-tag w3-orange"><a href="/api/q/req/true;2" >добав.</a></span>
              <span class="w3-tag w3-teal"><a href="/api/q/req/false;2" >вывод</a></span>

            </p>
            <p>
              <span class="w3-input w3-border" ><%= user.RUR%></span>
              <span class="w3-tag w3-green">RUR&nbsp;</span>
              <span class="w3-tag w3-orange"><a href="/api/q/req/true;3" >добав.</a></span>
              <span class="w3-tag w3-teal"><a href="/api/q/req/false;3" >вывод</a></span>
              </p>
            <p>

            </p>
          </form>
        </div>

      </div>
  </div>

  <div class="w3-row-padding w3-small"  ng-switch-when="two">
    <div class="w3-col m6" ng-controller="CtrlDeals">
      <div class="">
        <div class="w3-container w3-teal">
          <h5>Ордера</h5>
        </div>
          <% if(user.deals.length>0) {%>
        <table class="w3-table-all w3-small w3-striped w3-hoverable">
          <tr  class="w3-green">
            <th>Пара</th>
            <th class="w3-border-left">Тип</th>
            <th class="w3-border-left">Кол.(остаток)</th>
            <th class="w3-border-left">Цена</th>
            <th class="w3-border-left">Сумма</th>
            <th class="w3-border-left">Дата</th>
            <th class="w3-border-left"></th>
          </tr>

          <tr ng-repeat="dt in dt1" ng-click="setSelected();">
            <td>{{ dt.deal_currency }}/{{ dt.price_currency}}</td>
            <td class="{{ dt.color }}">{{ dt.typ }}</td>
            <td class="w3-border-left">{{ dt.deal_amount }}<span class="w3-small">({{ dt.deal_amount_bill }})</span></td>
            <td class="w3-border-left">{{ dt.price_amount}}</td>
            <td class="w3-border-left">{{ dt.summ }}</td>
            <td class="w3-border-left">{{ dt.dat }}</td>
            <td class="w3-border-left {{ dt.color2 }}">
                <div ng-switch="{{ dt.status }}">
                    <div ng-switch-when="0">
                        <span><a href="{{dt.cans}}">отменить</a> </span>
                    </div>
                  <div ng-switch-when="3">
                    <span>отменен</span>
                  </div>
                    <div ng-switch-when="9">
                        <span>закрыт</span>
                    </div>
                </div>
            </td>
          </tr>

        </table>
          <%}%>
      </div>
    </div>





    <div class="w3-col m6" >
      <div class="w3-border-left">
        <div class="w3-container w3-teal">
          <h5>Счета</h5>
        </div>
          <% if(user.bills.length>0) {%>
        <table class="w3-table-all w3-small w3-striped w3-hoverable">
          <tr class="w3-green">
            <th>Пара</th>
            <th class="w3-border-left">Тип</th>
            <th class="w3-border-left">Кол.</th>
            <th class="w3-border-left">Цена</th>
            <th class="w3-border-left">Сумма</th>
            <th class="w3-border-left">Дата</th>

          </tr>
          <% for(var i=0, len=user.bills.length; i<len; i++){%>
            <tr>
              <td><%= currs[user.bills[i].deal_currency]%>/<%= currs[user.bills[i].price_currency]%></td>
              <td class="<%= clors[user.bills[i].class]%>"><%= bs[user.bills[i].class] %></td>
              <td class="w3-border-left"><%= user.bills[i].deal_amount%></td>
              <td class="w3-border-left"><%= user.bills[i].price_amount%></td>
              <td class="w3-border-left"><%= user.bills[i].summ%></td>
              <td class="w3-border-left"><%= new Date(user.bills[i].createdAt).toISOString().replace(/T/, ' ').replace(/\..+/, ''); %></td>

            </tr>
          <%}%>
        </table>
          <%}%>
      </div>
    </div>



</div>

  <div class="w3-row-padding w3-small"  ng-switch-when="three">
    
    <div class="w3-col m6" ng-controller="CtrlQuerys">
      <div class="">
        <div class="w3-container w3-teal">
          <h5>Запросы</h5>
        </div>
          <% if(user.querys.length>0) {%>
        <table class="w3-table-all w3-small w3-striped w3-hoverable">
          <tr  class="w3-green">
            <th>Валюта</th>
            <th class="w3-border-left">Тип</th>
            <th class="w3-border-left">Кол.</th>
            <th class="w3-border-left">Зачис./Получ.</th>
            <th class="w3-border-left">Дата</th>
            <th class="w3-border-left"></th>
          </tr>

          <tr ng-repeat="dt in qqq" ng-click="setSelected();">
            <td>{{ dt.currency }}</td>
            <td class="{{ dt.color }}">{{ dt.typ }}</td>
            <td class="w3-border-left">{{ dt.amount }}</td>
            <td class="w3-border-left">{{ dt.amount2 }}</td>
            <td class="w3-border-left">{{ dt.dat }}</td>
            <td class="w3-border-left {{ dt.color2 }}">
              <div ng-switch="{{ dt.status }}">
                <div ng-switch-when="0">
                  <span><a href="{{dt.confirm}}">подтвердить</a> </span>
                </div>
                <div ng-switch-when="1">
                  <span>ожидание исполнения</span>
                </div>
                <div ng-switch-when="3">
                  <span>закрыт</span>
                </div>
              </div>
            </td>
          </tr>

        </table>
          <%}%>
      </div>
    </div>
  </div>

</div>


  <div class="w3-panel">
  </div>
    <%- include('includes/footer') -%>
</div>
<script>
    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    let dl = {};
    let qq={};
    let i = 0;
    let glub_buy = 0;
    let glub_sell = 0;
    let minPrice = 0;
    let maxPrice = 0;
    let bs=['продажа','покупка'];
    let clors=['w3-orange','w3-cyan','','w3-brown','','','','','','w3-gray'];
    const Curr = ['','PZM','USD','RUR'];
    const w3Btn = [[],['','','w3-white', 'w3-white'],['','w3-white','','w3-white'],['','w3-white','w3-white','']];
    const typ = ['Вывод','Ввод'];

    myApp.controller('w3BtnCtrl', function ($scope) {
        $scope.nm = 'one';
        $scope.btn = {'color':{'one':'w3-cyan','two':'w3-white','three':'w3-white' }};
        $scope.btnClick = function (nm) {
            $scope.nm = nm;
            $scope.btn = {'color':{'one':'w3-white','two':'w3-white','three':'w3-white' }};
            $scope.btn.color[nm] = 'w3-cyan';
        }
    });

    myApp.controller('CtrlQuerys', function ($scope) {
        $scope.qqq=[];
        <% user.querys.forEach(function (query) {%>
          qq={};
          qq.currency = Curr[<%= query.currency%>];
          qq.typ = typ[<%= query.class%>];
          qq.color = clors[<%= query.class%>];
          qq.color2 = clors[<%= query.status%>];
          qq.amount = <%= query.amount%>;
          qq.amount2 = <%= Math.round((query.amount - query.commission_summ)*100)/100 %>;
          qq.status = <%= query.status%>;
          qq.confirm = '/api/q/res/<%= query._id %>;confirm';
          qq.dat = '<%= new Date(query.createdAt).toISOString().replace(/T/, ' ').replace(/\..+/, '') %>';

          $scope.qqq.push(qq);
        <%})%>

        $scope.setSelected = function () {
            
        }
    });

    myApp.controller('CtrlDeals', function($scope) {
        $scope.dt1 = [];
        $scope.minPrice = minPrice;
        $scope.commission_buy = 0;
        $scope.data = {disabled_buy: true};
        i=0;
          <% user.deals.forEach(function (deal) { %>
            dl={};
            dl.cans = '/api/q/deal/<%= deal._id %>;cancel';
            dl.deal_currency = Curr[<%= deal.deal_currency%>];
            dl.price_currency = Curr[<%= deal.price_currency%>];
            dl.typ = bs[<%= deal.class %>];
            dl.color = clors[<%= deal.class%>];
            dl.deal_amount = <%= deal.deal_amount%>
            dl.deal_amount_bill = <%= deal.deal_amount_bill%>
            dl.price_amount = <%= deal.price_amount%>
            dl.summ = <%= Math.round(deal.deal_amount*deal.price_amount*10000)/10000 %>
            dl.dat = '<%= new Date(deal.createdAt).toISOString().replace(/T/, ' ').replace(/\..+/, '') %>';
            dl.status = <%= deal.status %>
            dl.color2 = clors[<%= deal.status%>];
            dl.i = i;

            $scope.dt1.push(dl);
            i++;
          <%})%>
        $scope.setSelected = function() {
            $scope.selected = this.dt;
            $scope.deal_amount_buy = this.dt.glub_buy;
            $scope.price_amount_buy = this.dt.name;
            $scope.commission_buy = Math.round(this.dt.glub_buy*0.007*10000)/10000;
            $scope.data.disabled_buy = !($scope.deal_amount_buy > 0 && $scope.price_amount_buy > 0);
        };
        $scope.change_buy = function () {
            $scope.commission_buy = Math.round($scope.deal_amount_buy*0.007*10000)/10000;
            $scope.data.disabled_buy = !($scope.deal_amount_buy > 0 && $scope.price_amount_buy > 0);
        };
        $scope.getSelectBuy = function () {
            let price_buy = ($scope.price_amount_buy !== undefined ? $scope.price_amount_buy : minPrice);
            $scope.deal_amount_buy = Math.round(this.UBalance_buy / price_buy * 100) / 100;
            $scope.price_amount_buy = price_buy;
            $scope.commission_buy = Math.round($scope.deal_amount_buy*0.007*10000)/10000;
            $scope.data.disabled_buy = !($scope.deal_amount_buy > 0 && $scope.price_amount_buy > 0);
        }
    });
    //]]>
</script>
</body>
</html>
