<!DOCTYPE html>
<html>
<title>PrizmEx: <%= title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<style>
  html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
<body class="w3-light-grey ng-scope" >
<header class="w3-container w3-teal">
  <div class="w3-row-padding">
    <div class="w3-container w3-quarter">
      <h1>Клуб 'Паровоз'</h1>
    </div>
    <div class="w3-green w3-container w3-half">
      <p>Обороты:</p>
    </div>
    <div class="w3-container w3-quarter">
      <p><a href="/createdeal">Создать сделку</a>&nbsp;&nbsp<%- LoginRegister %></p>
    </div>
  </div>
</header>

<div class="w3-col s6" ng-app="myApp" >
  <div class="w3-card-4" ng-controller="userDealsCtrl">
      <% if (user.deals.length) {%>
        <h5>Ордера</h5>
        <table class="w3-table-all w3-hoverable w3-card-4" >
          <tr class="w3-green">
            <th>Dates</th>
            <th>Class</th>
            <th>Кол-во</th>
            <th>Сумма</th>
          </tr>

          <tr ng-repeat="itm in itms">
            <td>{{ itm.dt }}</td>
            <td>{{ itm.clas }}</td>
            <td>{{ itm.deal_amount }}</td>
            <td>{{ itm.deal_summ }}</td>
          </tr>

        </table>
      <%}%>
  </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    let myApp = angular.module('myApp',[]);
    //const dealClasses = ['Продажа', 'Покупка'];
    let dt = new Date;
    myApp.controller('userDealsCtrl', function ($scope) {
        $scope.itms = [{}];
        <% user.deals.forEach(function (nmm) { %>
            $scope.itms.push({dt: '<%= nmm.createdAt %>', clas: <%= nmm.class%>, deal_amount: <%= nmm.deal_amount %>, deal_summ: <%= nmm.deal_amount*nmm.price_amount%>});
        <%})%>
    })

    //]]>
</script>
</body>
</html>
